In [1]:
#-*- coding: utf-8 -*-

import pandas as pd
import numpy as np
import matplotlib as mpl
%matplotlib notebook
#import seaborn as sns

from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import tree

import graphviz

from tqdm import tqdm_notebook

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

### multi class label 시도
 - HN16_ALL.sas7bdat : 설문지 데이터
 - hn16_ffq.sas7bdat : 섭취 데이터

In [2]:
def loadData() :

    '''
    데이터 로드
    '''
    df_all = pd.read_sas("./HN16_ALL.sas7bdat", format = 'sas7bdat', encoding='iso-8859-1')
    print("df_all.shape : ", df_all.shape)
    
    df_ffq = pd.read_sas("./hn16_ffq.sas7bdat", format = 'sas7bdat', encoding='iso-8859-1')
    print("df_ffq.shape : ", df_ffq.shape)
    
    '''
    공통 컬럼 추출 및 Merge key 설정
    '''
    intersection_columns = list(set(df_all.columns.values).intersection(df_ffq.columns.values))
    print("intersection_columns : ", intersection_columns)
    
    if(df_all.ID.name in intersection_columns) :
        intersection_columns.remove(df_all.ID.name)
    
    df_ffq.drop(intersection_columns, axis=1, inplace=True)
    print("intersection_columns -> df_ffq.shape : ", df_ffq.shape)
    
    df_merge = pd.merge(df_all, df_ffq, how='left', on=[df_all.ID.name])
    print("df_merge.shape : ", df_merge.shape)
    
    return df_merge

df_data = loadData()
df_data.head()

df_all.shape :  (8150, 768)
df_ffq.shape :  (8150, 434)
intersection_columns :  ['year', 'ho_incm', 'psu', 'incm', 'apt_t', 'wt_pft', 'ID', 'kstrata', 'age', 'age_month', 'wt_ntr', 'wt_hmnt', 'wt_pfhmnt', 'wt_pfnt', 'wt_itvex', 'wt_pfhm', 'wt_hm', 'wt_tot', 'mod_d', 'occp', 'ID_fam', 'sex', 'region', 'town_t', 'edu', 'wt_hs']
intersection_columns -> df_ffq.shape :  (8150, 409)
df_merge.shape :  (8150, 1176)

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,FQ_FE,FQ_NA,FQ_K,FQ_VA,FQ_RETIN,FQ_CAROT,FQ_B1,FQ_B2,FQ_NIAC,FQ_VITC
0,2018.02.01.,A651172801,A6511728,2016.0,1.0,1.0,2.0,A651,1.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.02.01.,A651172802,A6511728,2016.0,1.0,1.0,2.0,A651,2.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018.02.01.,A651183001,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,41.0,...,12.879218,3671.647791,2226.426572,459.311661,84.990392,2158.129699,1.628015,1.13383,13.896055,79.150355
3,2018.02.01.,A651183002,A6511830,2016.0,1.0,1.0,2.0,A651,1.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018.02.01.,A651183003,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def filter(df_in) :
    
    
    '''
    데이터 필터링
    '''
    # 19세 이상
    df_in = df_in.loc[(18 < df_in.age), :]
    print("filter age : ", df_in.shape)
    
    # 혈압치료중인 대상 제외
    df_in = df_in.loc[(1 < df_in.DI1_pt) | (df_in.DI1_pt < 1), :]
    print("filter 혈압치료여부", df_in.shape)
    
    df_in = df_in.dropna(axis=1, how='all')
    print("dropna how=all : ", df_in.shape)
    
    # 고혈압 유병여부 NaN값 대상 삭제
    df_in = df_in.dropna(subset=[df_in.HE_HP.name])
    print("dropna how=subset=['HE_HP'] : ", df_in.shape)
    
    '''
    NaN 처리
    '''
    #imp = SimpleImputer(missing_values=pd.np.nan, strategy="most_frequent")
    imp = SimpleImputer(strategy="most_frequent")
    df_in = pd.DataFrame(imp.fit_transform(df_in), columns=df_in.columns)
    
    '''
    convert numeric
    '''
    df_in = df_in.convert_objects(convert_numeric=True)
    
    return df_in

df_filter = filter(df_data)
df_filter.head()

filter age :  (6382, 1176)
filter 혈압치료여부 (4727, 1176)
dropna how=all :  (4727, 1122)
dropna how=subset=['HE_HP'] :  (4708, 1122)

C:\Apps\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,FQ_FE,FQ_NA,FQ_K,FQ_VA,FQ_RETIN,FQ_CAROT,FQ_B1,FQ_B2,FQ_NIAC,FQ_VITC
0,2018.02.01.,A651172802,A6511728,2016.0,1.0,1.0,2.0,A651,2.0,57.0,...,1.999242,279.399765,223.900051,29.076130,0.000000,76.955805,0.184688,0.087371,1.782046,2.356990
1,2018.02.01.,A651183001,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,41.0,...,12.879218,3671.647791,2226.426572,459.311661,84.990392,2158.129699,1.628015,1.133830,13.896055,79.150355
2,2018.02.01.,A651183002,A6511830,2016.0,1.0,1.0,2.0,A651,1.0,39.0,...,1.999242,279.399765,223.900051,29.076130,0.000000,76.955805,0.184688,0.087371,1.782046,2.356990
3,2018.02.01.,A651183003,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,38.0,...,1.999242,279.399765,223.900051,29.076130,0.000000,76.955805,0.184688,0.087371,1.782046,2.356990
4,2018.02.01.,A651194902,A6511949,2016.0,1.0,1.0,2.0,A651,2.0,44.0,...,11.622384,3837.131006,2196.359827,585.326618,67.557719,3038.498438,1.467602,1.293351,12.230508,65.639278

In [4]:
# index 재생성
df_filter = df_filter.set_index(df_filter.ID.name).reset_index()
df_filter.head()

,ID,mod_d,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,FQ_FE,FQ_NA,FQ_K,FQ_VA,FQ_RETIN,FQ_CAROT,FQ_B1,FQ_B2,FQ_NIAC,FQ_VITC
0,A651172802,2018.02.01.,A6511728,2016.0,1.0,1.0,2.0,A651,2.0,57.0,...,1.999242,279.399765,223.900051,29.076130,0.000000,76.955805,0.184688,0.087371,1.782046,2.356990
1,A651183001,2018.02.01.,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,41.0,...,12.879218,3671.647791,2226.426572,459.311661,84.990392,2158.129699,1.628015,1.133830,13.896055,79.150355
2,A651183002,2018.02.01.,A6511830,2016.0,1.0,1.0,2.0,A651,1.0,39.0,...,1.999242,279.399765,223.900051,29.076130,0.000000,76.955805,0.184688,0.087371,1.782046,2.356990
3,A651183003,2018.02.01.,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,38.0,...,1.999242,279.399765,223.900051,29.076130,0.000000,76.955805,0.184688,0.087371,1.782046,2.356990
4,A651194902,2018.02.01.,A6511949,2016.0,1.0,1.0,2.0,A651,2.0,44.0,...,11.622384,3837.131006,2196.359827,585.326618,67.557719,3038.498438,1.467602,1.293351,12.230508,65.639278

In [5]:
'''
고혈압 유병여부
    1. 정상
    2. 고혈압전단계
    3. 고혈압
classification을 위해3. 고혈압을 2.로 변경하여 이산형으로 수정
'''

#df_data.loc[df_data.HE_HP == 3.0, 'HE_HP'] = 2.0
print("### HE_HP count###\n", pd.value_counts(df_filter.HE_HP.values, sort=False).sort_index()) # 고혈압 유병 여부

### HE_HP count###
 1.0    2640
2.0    1468
3.0     600
dtype: int64

In [6]:
def runDTR(in_df, x_name_list, y_name) :

    arrX = in_df[x_name_list]
    arrY = in_df[y_name]

    #print("x na : ", arrX1[x_name].isna().sum())
    #print("y na : ", arrY.isna().sum())
    #arrY = arrY.fillna(-1)

    model = DecisionTreeClassifier(
        criterion = 'gini',
        max_depth=4
    ).fit(arrX,arrY)
    
    pdf_name = "./pdf_multi_class/%s_feature-%s" % (y_name,x_name_list.__len__())
    print(pdf_name)

    dot_data = tree.export_graphviz(model,
                                    out_file=None, 
                                    feature_names=x_name_list, 
                                    # class_names=['정상', '고혈압전단계', '고혈압']
                                    class_names=['1','2','3']
                                   )

    graph = graphviz.Source(dot_data) 
    graph.render(pdf_name)
    #graph.render("%s+%s" % (x_name,y_name))

    modelPrediction = model.predict(arrX)
    accuracyRate = accuracy_score(
        y_true=arrY
    ,   y_pred=modelPrediction
    )

    #print('정확도 = ', accuracyRate)

    return accuracyRate

In [7]:
# HE_HP(고혈압 유병여부) 제외
skip_list = [
    df_filter.HE_HP.name
    #, df_data.ID.name
]

# accuracyRate 담을 변수 준비
accuracyRate_list = []
for y_name in skip_list :
    for x_name in tqdm_notebook(df_filter.columns):
        if x_name in skip_list : continue
        if df_filter[x_name].dtype == 'object' : continue
        #accuracyRate = runDTR(df_filter, [x_name], y_name)
        accuracyRate = None
        accuracyRate_list.append([x_name, y_name, accuracyRate])
    
# accuracyRate_list > dataframe으로 변환해서 csv파일로 저장   
df_accuracyRate = pd.DataFrame(accuracyRate_list)
df_accuracyRate.to_csv("accuracyRate_list_multi_class.csv")

HBox(children=(IntProgress(value=0, max=1122), HTML(value='')))

In [8]:
#pd.value_counts(df_filter[df_filter.HE_Uacid.name]).sort_index()
print(df_filter[df_filter.HE_HP.name].dtype)
print(df_filter[df_filter.HE_HP.name][:5])

print(df_filter[df_filter.HE_Uacid.name].dtype)
print(df_filter[df_filter.HE_Uacid.name][:5])

Y = df_filter.HE_HP.name
X = [
      df_filter.HE_Uacid.name
    , df_filter.ainc_1.name
    , df_filter.BS6_2.name
]

runDTR(df_filter, X, Y)

float64
0    2.0
1    1.0
2    3.0
3    1.0
4    1.0
Name: HE_HP, dtype: float64
float64
0    4.0
1    5.0
2    6.8
3    3.9
4    3.7
Name: HE_Uacid, dtype: float64
./pdf_multi_class/HE_HP_feature-3

0.5783772302463891

In [41]:
check_count = 0
for name in df_filter.columns :
    
    # 2 < count < 20
    value_counts = pd.value_counts(getattr(df_filter, name)).sort_index()
    key_count = len(value_counts.keys())
    if(key_count < 3 or 20 < key_count) : continue
    
    # int 변환이 가능한 것
    try :
      [int(k) for k in value_counts.keys()]
    except : 
        #print("%s pass" % name)
        continue
        
    print("\n", value_counts)
    check_count += 1

check_count

 1.0      930
2.0      311
3.0      234
4.0      260
5.0      158
6.0      156
7.0       87
8.0      109
9.0     1113
10.0     126
11.0     141
12.0     178
13.0     154
14.0     156
15.0     232
16.0     269
17.0      94
Name: region, dtype: int64

 1.0    1154
2.0    1196
3.0    1178
4.0    1180
Name: incm, dtype: int64

 1.0     683
2.0    1136
3.0    1409
4.0    1480
Name: ho_incm, dtype: int64

 1.0     668
2.0     393
3.0    1531
4.0    2116
Name: edu, dtype: int64

 1.0     675
2.0     550
3.0     627
4.0     145
5.0     464
6.0     348
7.0    1899
Name: occp, dtype: int64

 1.0     444
2.0    1127
3.0    1282
4.0    1367
5.0     386
6.0     102
Name: cfam, dtype: int64

 1.0     444
2.0     834
3.0      66
4.0    2352
5.0     393
6.0     251
7.0     368
Name: genertn, dtype: int64

 10.0     264
20.0    4441
99.0       3
Name: allownc, dtype: int64

 1.0    1489
2.0    2531
3.0     686
9.0       2
Name: house, dtype: int64

 1.0    1508
2.0    2751
3.0     238
4.0     176
5.0      34
9.0       1
Name: live_t, dtype: int64

 1.0    3256
2.0    1421
9.0      31
Name: ainc_unit1, dtype: int64

 1.0     3334
2.0       22
3.0      273
4.0      167
9.0        1
88.0     911
Name: marri_2, dtype: int64

 1.0     2169
2.0     1634
3.0      673
4.0       33
5.0       14
6.0      116
8.0       43
9.0        9
10.0      17
Name: fam_rela, dtype: int64

 10.0    1338
20.0    3206
30.0     127
99.0      37
Name: tins, dtype: int64

 1.0    3889
2.0     794
9.0      25
Name: npins, dtype: int64

 1.0     232
2.0    1199
3.0    2342
4.0     606
5.0     123
9.0     206
Name: D_1_1, dtype: int64

 1.0     760
2.0    3742
9.0     206
Name: D_2_1, dtype: int64

 1.0       37
2.0       70
3.0       79
4.0       36
5.0       34
6.0        5
7.0       98
8.0        6
9.0        1
10.0      22
11.0       2
12.0       4
13.0       1
14.0     365
88.0    3742
99.0     206
Name: D_2_wk, dtype: int64

 0.0      60
1.0      54
8.0    4594
Name: DI1_pr, dtype: int64

 0.0     113
1.0     359
8.0    4236
Name: DI2_pr, dtype: int64

 0.0     218
1.0     254
8.0    4236
Name: DI2_pt, dtype: int64

 1.0     226
2.0      10
3.0       7
4.0       5
5.0     224
8.0    4236
Name: DI2_2, dtype: int64

 0.0    4455
1.0      44
9.0     209
Name: DI3_dg, dtype: int64

 0.0      12
1.0      32
8.0    4455
9.0     209
Name: DI3_pr, dtype: int64

 0.0      14
1.0      30
8.0    4455
9.0     209
Name: DI3_pt, dtype: int64

 1.0      20
2.0      10
3.0      14
8.0    4455
9.0     209
Name: DI3_2, dtype: int64

 0.0      12
1.0      55
8.0    4641
Name: DI4_pr, dtype: int64

 0.0      14
1.0      53
8.0    4641
Name: DI4_pt, dtype: int64

 0.0    4471
1.0      25
9.0     212
Name: DI5_dg, dtype: int64

 45.0        1
51.0        1
52.0        3
53.0        2
54.0        1
57.0        1
58.0        1
59.0        2
61.0        2
65.0        2
66.0        1
67.0        1
68.0        2
70.0        1
72.0        1
75.0        1
80.0        2
888.0    4471
999.0     212
Name: DI5_ag, dtype: int64

 1.0      25
8.0    4471
9.0     212
Name: DI5_pr, dtype: int64

 1.0      25
8.0    4471
9.0     212
Name: DI5_pt, dtype: int64

 0.0    4447
1.0      49
9.0     212
Name: DI6_dg, dtype: int64

 0.0      12
1.0      37
8.0    4447
9.0     212
Name: DI6_pr, dtype: int64

 0.0      14
1.0      35
8.0    4447
9.0     212
Name: DI6_pt, dtype: int64

 0.0      29
1.0     377
8.0    4302
Name: DM1_pr, dtype: int64

 0.0     213
1.0     193
8.0    4302
Name: DM1_pt, dtype: int64

 0.0    4149
1.0     347
9.0     212
Name: DM2_dg, dtype: int64

 0.0      24
1.0     323
8.0    4149
9.0     212
Name: DM2_pr, dtype: int64

 0.0     183
1.0     164
8.0    4149
9.0     212
Name: DM2_pt, dtype: int64

 0.0    4410
1.0      86
9.0     212
Name: DM3_dg, dtype: int64

 0.0       9
1.0      77
8.0    4410
9.0     212
Name: DM3_pr, dtype: int64

 0.0      49
1.0      37
8.0    4410
9.0     212
Name: DM3_pt, dtype: int64

 0.0    4198
1.0     298
9.0     212
Name: DM4_dg, dtype: int64

 0.0      48
1.0     250
8.0    4198
9.0     212
Name: DM4_pr, dtype: int64

 0.0     140
1.0     158
8.0    4198
9.0     212
Name: DM4_pt, dtype: int64

 0.0    4339
1.0     157
9.0     212
Name: DJ2_dg, dtype: int64

 0.0     154
1.0       3
8.0    4339
9.0     212
Name: DJ2_pr, dtype: int64

 0.0     156
1.0       1
8.0    4339
9.0     212
Name: DJ2_pt, dtype: int64

 0.0    4386
1.0     110
9.0     212
Name: DJ4_dg, dtype: int64

 0.0      42
1.0      68
8.0    4386
9.0     212
Name: DJ4_pr, dtype: int64

 0.0      72
1.0      38
8.0    4386
9.0     212
Name: DJ4_pt, dtype: int64

 1.0      23
2.0      33
3.0      54
8.0    4386
9.0     212
Name: DJ4_3, dtype: int64

 0.0       9
1.0     231
8.0    4468
Name: DE1_pr, dtype: int64

 0.0      26
1.0     214
8.0    4468
Name: DE1_pt, dtype: int64

 1.0     215
2.0      25
8.0    4468
Name: DE1_3, dtype: int64

 0.0     198
1.0      17
8.0    4493
Name: DE1_31, dtype: int64

 0.0       8
1.0     207
8.0    4493
Name: DE1_32, dtype: int64

 0.0     183
1.0      32
8.0    4493
Name: DE1_33, dtype: int64

 1.0      70
2.0     169
8.0    4468
9.0       1
Name: DE1_4, dtype: int64

 0.0    4342
1.0     154
9.0     212
Name: DE2_dg, dtype: int64

 0.0      72
1.0      82
8.0    4342
9.0     212
Name: DE2_pr, dtype: int64

 0.0      84
1.0      70
8.0    4342
9.0     212
Name: DE2_pt, dtype: int64

 0.0    4468
1.0      28
9.0     212
Name: DC1_dg, dtype: int64

 0.0      20
1.0       8
8.0    4468
9.0     212
Name: DC1_pr, dtype: int64

 0.0      21
1.0       7
8.0    4468
9.0     212
Name: DC1_pt, dtype: int64

 0.0    4491
1.0       5
9.0     212
Name: DC2_dg, dtype: int64

 48.0        1
50.0        1
60.0        2
68.0        1
888.0    4491
999.0     212
Name: DC2_ag, dtype: int64

 0.0       1
1.0       4
8.0    4491
9.0     212
Name: DC2_pr, dtype: int64

 0.0       1
1.0       4
8.0    4491
9.0     212
Name: DC2_pt, dtype: int64

 0.0    4484
1.0      12
9.0     212
Name: DC3_dg, dtype: int64

 40.0        1
50.0        1
51.0        1
55.0        1
56.0        1
60.0        1
62.0        2
63.0        1
64.0        1
65.0        1
75.0        1
888.0    4484
999.0     212
Name: DC3_ag, dtype: int64

 0.0       8
1.0       4
8.0    4484
9.0     212
Name: DC3_pr, dtype: int64

 0.0      10
1.0       2
8.0    4484
9.0     212
Name: DC3_pt, dtype: int64

 0.0    4467
1.0      29
9.0     212
Name: DC4_dg, dtype: int64

 0.0      11
1.0      18
8.0    4467
9.0     212
Name: DC4_pr, dtype: int64

 0.0      13
1.0      16
8.0    4467
9.0     212
Name: DC4_pt, dtype: int64

 0.0    4469
1.0      27
9.0     212
Name: DC5_dg, dtype: int64

 33.0        1
34.0        1
36.0        2
37.0        4
38.0        1
39.0        2
40.0        1
42.0        2
45.0        1
46.0        2
47.0        1
48.0        4
49.0        2
55.0        1
56.0        1
71.0        1
888.0    4469
999.0     212
Name: DC5_ag, dtype: int64

 0.0      23
1.0       4
8.0    4469
9.0     212
Name: DC5_pr, dtype: int64

 0.0      25
1.0       2
8.0    4469
9.0     212
Name: DC5_pt, dtype: int64

 0.0    4492
1.0       4
9.0     212
Name: DC6_dg, dtype: int64

 52.0        1
55.0        1
64.0        1
65.0        1
888.0    4492
999.0     212
Name: DC6_ag, dtype: int64

 0.0       1
1.0       3
8.0    4492
9.0     212
Name: DC6_pr, dtype: int64

 0.0       2
1.0       2
8.0    4492
9.0     212
Name: DC6_pt, dtype: int64

 0.0    4452
1.0      44
9.0     212
Name: DC7_dg, dtype: int64

 0.0      17
1.0      27
8.0    4452
9.0     212
Name: DC7_pr, dtype: int64

 0.0      18
1.0      26
8.0    4452
9.0     212
Name: DC7_pt, dtype: int64

 0.0    4450
1.0      46
9.0     212
Name: DC11_dg, dtype: int64

 0.0      21
1.0      25
8.0    4450
9.0     212
Name: DC11_pr, dtype: int64

 0.0      27
1.0      19
8.0    4450
9.0     212
Name: DC11_pt, dtype: int64

 0.0    4307
1.0     189
9.0     212
Name: DF2_dg, dtype: int64

 0.0      73
1.0     116
8.0    4307
9.0     212
Name: DF2_pr, dtype: int64

 0.0     102
1.0      87
8.0    4307
9.0     212
Name: DF2_pt, dtype: int64

 0.0    4356
1.0     140
9.0     212
Name: DL1_dg, dtype: int64

 0.0      44
1.0      96
8.0    4356
9.0     212
Name: DL1_pr, dtype: int64

 0.0      97
1.0      43
8.0    4356
9.0     212

Name: DL1_pt, dtype: int64

 0.0    3789
1.0     707
9.0     212
Name: DJ8_dg, dtype: int64

 0.0      93
1.0     614
8.0    3789
9.0     212
Name: DJ8_pr, dtype: int64

 0.0     483
1.0     224
8.0    3789
9.0     212
Name: DJ8_pt, dtype: int64

 0.0    4201
1.0     295
9.0     212
Name: DJ6_dg, dtype: int64

 0.0     174
1.0     121
8.0    4201
9.0     212
Name: DJ6_pr, dtype: int64

 0.0     258
1.0      37
8.0    4201
9.0     212
Name: DJ6_pt, dtype: int64

 0.0    4247
1.0     248
9.0     213
Name: DH4_dg, dtype: int64

 0.0     209
1.0      39
8.0    4247
9.0     213
Name: DH4_pr, dtype: int64

 0.0     232
1.0      16
8.0    4247
9.0     213
Name: DH4_pt, dtype: int64

 0.0    4155
1.0     340
9.0     213
Name: DH2_dg, dtype: int64

 0.0     181
1.0     159
8.0    4155
9.0     213
Name: DH2_pr, dtype: int64

 0.0     249
1.0      91
8.0    4155
9.0     213
Name: DH2_pt, dtype: int64

 0.0    4437
1.0      58
9.0     213
Name: DH3_dg, dtype: int64

 0.0      12
1.0      46
8.0    4437
9.0     213
Name: DH3_pr, dtype: int64

 0.0      27
1.0      31
8.0    4437
9.0     213
Name: DH3_pt, dtype: int64

 0.0    4479
1.0      16
9.0     213
Name: DH6_dg, dtype: int64

 0.0         1
20.0        1
48.0        1
51.0        1
53.0        1
55.0        3
58.0        1
61.0        1
63.0        1
64.0        1
65.0        1
67.0        1
69.0        1
72.0        1
888.0    4479
999.0     213
Name: DH6_ag, dtype: int64

 0.0       4
1.0      12
8.0    4479
9.0     213
Name: DH6_pr, dtype: int64

 0.0      11
1.0       5
8.0    4479
9.0     213
Name: DH6_pt, dtype: int64

 0.0    4483
1.0      12
9.0     213
Name: DN1_dg, dtype: int64

 7.0         1
8.0         1
12.0        1
14.0        1
20.0        1
30.0        1
35.0        1
38.0        1
41.0        1
50.0        1
64.0        1
70.0        1
888.0    4483
999.0     213
Name: DN1_ag, dtype: int64

 0.0       3
1.0       9
8.0    4483
9.0     213
Name: DN1_pr, dtype: int64

 0.0       4
1.0       8
8.0    4483
9.0     213
Name: DN1_pt, dtype: int64

 0.0    4434
1.0      61
9.0     213
Name: DK8_dg, dtype: int64

 0.0      32
1.0      29
8.0    4434
9.0     213
Name: DK8_pr, dtype: int64

 0.0      40
1.0      21
8.0    4434
9.0     213
Name: DK8_pt, dtype: int64

 0.0    4486
1.0       9
9.0     213
Name: DK9_dg, dtype: int64

 20.0        1
35.0        1
37.0        1
43.0        1
44.0        1
49.0        1
57.0        1
64.0        1
80.0        1
888.0    4486
999.0     213
Name: DK9_ag, dtype: int64

 0.0       4
1.0       5
8.0    4486
9.0     213
Name: DK9_pr, dtype: int64

 0.0       8
1.0       1
8.0    4486
9.0     213
Name: DK9_pt, dtype: int64

 0.0    4485
1.0      10
9.0     213
Name: DK4_dg, dtype: int64

 35.0        1
37.0        1
40.0        2
45.0        1
46.0        1
49.0        1
53.0        1
57.0        1
59.0        1
888.0    4485
999.0     213
Name: DK4_ag, dtype: int64

 0.0       3
1.0       7
8.0    4485
9.0     213
Name: DK4_pr, dtype: int64

 0.0       5
1.0       5
8.0    4485
9.0     213
Name: DK4_pt, dtype: int64

 1.0     403
2.0    3816
3.0     272
9.0     217
Name: M_2_yr, dtype: int64

 1.0      203
2.0       94
3.0       70
4.0        9
5.0        3
6.0        3
7.0       14
8.0        7
88.0    4088
99.0     217
Name: M_2_rs, dtype: int64

 1.0    1679
2.0    2811
9.0     218
Name: BH9_11, dtype: int64

 1.0     1667
2.0       12
88.0    2811
99.0     218
Name: BH9_13, dtype: int64

 2015.0    4280
2016.0     402
9999.0      26
Name: BH9_14_1_01, dtype: int64

 1.0       19
2.0        7
3.0       10
4.0        6
5.0        6
6.0        5
7.0        4
8.0       12
9.0      130
10.0    3978
11.0     386
12.0      97
99.0      48
Name: BH9_14_2_01, dtype: int64

 1.0     493
2.0    4121
3.0      93
9.0       1
Name: BH9_14_3_01, dtype: int64

 1.0       1
2.0    4706
3.0       1
Name: BH9_14_3_02, dtype: int64

 1.0    2951
2.0    1539
9.0     218
Name: BH1, dtype: int64

 0.0    2645
1.0     306
8.0    1539
9.0     218
Name: BH1_1, dtype: int64

 0.0    2912
1.0      39
8.0    1539
9.0     218
Name: BH1_2, dtype: int64

 0.0     564
1.0    2387
8.0    1539
9.0     218
Name: BH1_3, dtype: int64

 0.0    2924
1.0      27
8.0    1539
9.0     218
Name: BH1_8, dtype: int64

 0.0    2585
1.0     366
8.0    1539
9.0     218
Name: BH1_6, dtype: int64

 1.0    2474
2.0    2014
9.0     220
Name: BH2_61, dtype: int64

 0.0    1990
1.0     484
8.0    2014
9.0     220
Name: BH2_62, dtype: int64

 0.0    1527
1.0     947
8.0    2014
9.0     220
Name: BH2_63, dtype: int64

 0.0    1214
1.0    1260
8.0    2014
9.0     220
Name: BH2_66, dtype: int64

 0.0    2469
1.0       5
8.0    2014
9.0     220
Name: BH2_67, dtype: int64

 0.0    2241
1.0     233
8.0    2014
9.0     220
Name: BH2_64, dtype: int64

 1.0     296
2.0    4195
9.0     217
Name: LQ4_00, dtype: int64

 0.0     285
1.0      11
8.0    4195
9.0     217
Name: LQ4_01, dtype: int64

 0.0     282
1.0      14
8.0    4195
9.0     217
Name: LQ4_02, dtype: int64

 0.0     246
1.0      50
8.0    4195
9.0     217
Name: LQ4_03, dtype: int64

 0.0     287
1.0       9
8.0    4195
9.0     217
Name: LQ4_04, dtype: int64

 0.0     283
1.0      13
8.0    4195
9.0     217
Name: LQ4_05, dtype: int64

 0.0     286
1.0      10
8.0    4195
9.0     217
Name: LQ4_06, dtype: int64

 0.0     287
1.0       9
8.0    4195
9.0     217
Name: LQ4_07, dtype: int64

 0.0     295
1.0       1
8.0    4195
9.0     217
Name: LQ4_08, dtype: int64

 0.0     223
1.0      73
8.0    4195
9.0     217
Name: LQ4_09, dtype: int64

 0.0     286
1.0      10
8.0    4195
9.0     217
Name: LQ4_10, dtype: int64

 0.0     288
1.0       8
8.0    4195
9.0     217
Name: LQ4_11, dtype: int64

 0.0     280
1.0      16
8.0    4195
9.0     217
Name: LQ4_12, dtype: int64

 0.0     283
1.0      13
8.0    4195
9.0     217
Name: LQ4_13, dtype: int64

 0.0     293
1.0       3
8.0    4195
9.0     217
Name: LQ4_14, dtype: int64

 0.0     257
1.0      39
8.0    4195
9.0     217
Name: LQ4_15, dtype: int64

 0.0     288
1.0       8
8.0    4195
9.0     217
Name: LQ4_16, dtype: int64

 0.0     295
1.0       1
8.0    4195
9.0     217
Name: LQ4_21, dtype: int64

 0.0     286
1.0      10
8.0    4195
9.0     217
Name: LQ4_22, dtype: int64

 0.0     295
1.0       1
8.0    4195
9.0     217
Name: LQ4_25, dtype: int64

 0.0     285
1.0      11
8.0    4195
9.0     217
Name: LQ4_26, dtype: int64

 0.0     284
1.0      12
8.0    4195
9.0     217
Name: LQ4_27, dtype: int64

 0.0     268
1.0      28
8.0    4195
9.0     217
Name: LQ4_28, dtype: int64

 0.0     288
1.0       8
8.0    4195
9.0     217
Name: LQ4_29, dtype: int64

 0.0     229
1.0      67
8.0    4195
9.0     217
Name: LQ4_23, dtype: int64

 1.0     306
2.0    4185
9.0     217
Name: LQ1_sb, dtype: int64

 1.0      119
2.0       63
3.0       46
4.0       13
5.0        8
7.0       24
8.0        2
10.0       8
12.0       2
14.0       2
18.0       2
20.0       8
21.0       1
30.0       8
88.0    4185
99.0     217
Name: LQ1_mn, dtype: int64

 1.0     934
2.0    3556
9.0     218
Name: LQ3_sb, dtype: int64

 1.0     135
2.0    2870
8.0    1485
9.0     218
Name: LQ2_ab, dtype: int64

 1.0     504
2.0    2741
8.0    1245
9.0     218
Name: LQ4_ab, dtype: int64

 1.0    4054
2.0     417
3.0      16
9.0     221
Name: LQ_1EQL, dtype: int64

 1.0    4375
2.0      97
3.0      14
9.0     222
Name: LQ_2EQL, dtype: int64

 1.0    4252
2.0     223
3.0      12
9.0     221
Name: LQ_3EQL, dtype: int64

 1.0    3615
2.0     792
3.0      76
9.0     225
Name: LQ_4EQL, dtype: int64

 1.0    4083
2.0     375
3.0      26
9.0     224
Name: LQ_5EQL, dtype: int64

 1.0     310
2.0    4177
9.0     221
Name: AC1_yr, dtype: int64

 1.0      290
2.0       17
3.0        2
4.0        1
88.0    4177
99.0     221
Name: AC3, dtype: int64

 2015.0     131
2016.0    4576
9999.0       1
Name: AC3_1_01, dtype: int64

 1.0       29
2.0       26
3.0       27
4.0       30
5.0       30
6.0       19
7.0       21
8.0     4430
9.0       25
10.0      26
11.0      20
12.0      24
99.0       1
Name: AC3_2_01, dtype: int64

 2.0        2
3.0        1
4.0        1
5.0        2
6.0     4691
7.0        3
8.0        3
9.0        2
10.0       1
11.0       1
12.0       1
Name: AC3_2_02, dtype: int64

 7.0     4706
10.0       1
12.0       1
Name: AC3_2_03, dtype: int64

 1.0      80
2.0    4493
3.0      48
4.0      22
5.0       1
7.0       1
8.0       7
9.0      56
Name: AC3_3_01, dtype: int64

 1.0    4698
2.0       3
3.0       2
4.0       1
9.0       4
Name: AC3_3_02, dtype: int64

 1.0      43
2.0    4573
3.0      91
4.0       1
Name: AC8_1_01, dtype: int64

 1.0       1
2.0    4700
3.0       7
Name: AC8_1_02, dtype: int64

 1.0    4703
2.0       3
3.0       2
Name: AC3_4_01, dtype: int64

 1.0         1
3.0         1
4.0         1
5.0         1
7.0         1
10.0        1
14.0        1
888.0    4701
Name: AC8_2_02, dtype: int64

 1.0      92
2.0    4542
8.0      74
Name: AC8_3w_01, dtype: int64

 1.0       6
2.0    4697
8.0       5
Name: AC8_3w_02, dtype: int64

 1.0    4706
2.0       1
8.0       1
Name: AC8_3w_03, dtype: int64

 2.0         2
3.0         1
5.0         1
10.0        1
22.0        1
888.0    4702
Name: AC8_3_02, dtype: int64

 1.0     528
2.0    3957
9.0     223
Name: MH1_yr, dtype: int64

 1.0      452
2.0       59
3.0       10
4.0        2
5.0        2
6.0        1
15.0       1
88.0    3957
99.0     224
Name: MH1_1, dtype: int64

 1.0    1231
2.0    3256
9.0     221
Name: MO1_wk, dtype: int64

 1.0      707
2.0      277
3.0      119
4.0       46
5.0       24
6.0       19
7.0       11
8.0        7
9.0        2
10.0       9
12.0       4
14.0       2
17.0       1
26.0       1
88.0    3256
99.0     223
Name: MO1_1, dtype: int64

 2.0      102
3.0      475
4.0      406
5.0     1193
6.0      711
7.0     1335
8.0      255
99.0     231
Name: educ, dtype: int64

 1.0    3610
2.0      21
3.0     424
4.0     320
8.0     102
9.0     231
Name: graduat, dtype: int64

 1.0    2813
2.0    1666
9.0     229
Name: EC1_1, dtype: int64

 1.0     367
2.0     114
3.0      80
4.0     372
5.0     267
6.0     434
7.0      30
8.0    2813
9.0     231
Name: EC1_2, dtype: int64

 1.0       48
2.0      627
3.0      550
4.0      285
5.0      342
6.0      145
7.0      221
8.0      243
9.0      348
10.0       2
88.0    1666
99.0     231
Name: EC_occp, dtype: int64

 1.0    2056
2.0     619
3.0     137
8.0    1666
9.0     230
Name: EC_stt_1, dtype: int64

 1.0    1469
2.0     456
3.0     131
8.0    2422
9.0     230
Name: EC_stt_2, dtype: int64

 1.0    1618
2.0     438
8.0    2422
9.0     230
Name: EC_wh, dtype: int64

 1.0    1010
2.0    1046
8.0    2422
9.0     230
Name: EC_wht_0, dtype: int64

 1.0     2630
2.0      324
3.0       49
4.0      105
5.0       28
6.0       17
7.0       16
8.0        2
88.0    1305
99.0     232
Name: EC_wht_5, dtype: int64

 1.0      51
2.0     979
3.0     985
4.0     446
5.0     538
6.0     229
7.0     357
8.0     373
9.0     382
10.0     22
88.0    112
99.0    234
Name: EC_lgw_2, dtype: int64

 1.0    3353
2.0     792
3.0     217
8.0     112
9.0     234
Name: EC_lgw_4, dtype: int64

 1.0    2530
2.0     670
3.0     153
8.0    1121
9.0     234
Name: EC_lgw_5, dtype: int64

 1.0      366
2.0      152
3.0     1201
4.0      676
5.0      962
6.0      123
7.0      430
8.0       91
99.0     707
Name: EC_pedu_1, dtype: int64

 1.0      747
2.0       57
3.0     1458
4.0      591
5.0      922
6.0       74
7.0      212
8.0       25
99.0     622
Name: EC_pedu_2, dtype: int64

 1.0     193
2.0     579
3.0    1888
4.0    1597
5.0     379
9.0      72
Name: BO1, dtype: int64

 1.0    2809
2.0     566
3.0    1260
9.0      73
Name: BO1_1, dtype: int64

 1.0     423
2.0     101
3.0      41
8.0    4069
9.0      74
Name: BO1_2, dtype: int64

 1.0     900
2.0     240
3.0     120
8.0    3375
9.0      73
Name: BO1_3, dtype: int64

 1.0    1873
2.0     874
3.0     253
4.0    1635
9.0      73
Name: BO2_1, dtype: int64

 0.0     746
1.0    2000
8.0    1888
9.0      74
Name: BO3_01, dtype: int64

 0.0    2666
1.0      80
8.0    1888
9.0      74
Name: BO3_02, dtype: int64

 0.0     897
1.0    1849
8.0    1888
9.0      74
Name: BO3_03, dtype: int64

 0.0    2406
1.0     340
8.0    1888
9.0      74
Name: BO3_14, dtype: int64

 0.0    2716
1.0      30
8.0    1888
9.0      74
Name: BO3_05, dtype: int64

 0.0    2653
1.0      93
8.0    1888
9.0      74
Name: BO3_04, dtype: int64

 0.0    2668
1.0      78
8.0    1888
9.0      74
Name: BO3_12, dtype: int64

 0.0    2558
1.0     188
8.0    1888
9.0      74
Name: BO3_07, dtype: int64

 0.0    2680
1.0      66
8.0    1888
9.0      74
Name: BO3_09, dtype: int64

 0.0    2742
1.0       4
8.0    1888
9.0      74
Name: BO3_10, dtype: int64

 1.0     464
2.0    4172
9.0      72
Name: BD1, dtype: int64

 1.0     688
2.0     860
3.0     487
4.0    1135
5.0     711
6.0     289
8.0     464
9.0      74
Name: BD1_11, dtype: int64

 1.0    1260
2.0     740
3.0     527
4.0     496
5.0     459
8.0    1152
9.0      74
Name: BD2_1, dtype: int64

 1.0    1339
2.0     738
3.0     572
4.0     605
5.0     228
8.0    1152
9.0      74
Name: BD2_31, dtype: int64

 1.0     823
2.0     440
3.0     313
4.0     196
5.0      58
8.0    2838
9.0      40
Name: BD2_32, dtype: int64

 1.0    3345
2.0     292
3.0     533
8.0     464
9.0      74
Name: BD7_4, dtype: int64

 1.0      17
2.0    4617
9.0      74
Name: BD7_5, dtype: int64

 1.0      88
2.0    4546
9.0      74
Name: BD7_6, dtype: int64

 1.0       9
2.0      49
3.0     147
4.0     469
5.0    2205
8.0    1755
9.0      74
Name: BA2_12, dtype: int64

 1.0      89
2.0     172
3.0     352
4.0     826
5.0    3026
8.0     168
9.0      75
Name: BA2_13, dtype: int64

 1.0     117
2.0      31
3.0      55
4.0     162
5.0     667
8.0    3601
9.0      75
Name: BA1_3, dtype: int64

 1.0     149
2.0      20
3.0      27
4.0      19
5.0      35
8.0    4383
9.0      75
Name: BA1_5, dtype: int64

 1.0     102
2.0     928
8.0    3602
9.0      76
Name: BA2_2_1, dtype: int64

 1.0      18
2.0     184
8.0    4431
9.0      75
Name: BA2_2_3, dtype: int64

 2.0         4
3.0         2
5.0         3
6.0         1
10.0        2
11.0        1
12.0        1
30.0        1
60.0        1
100.0       1
355.0       1
888.0    4615
999.0      75
Name: BA2_2_4, dtype: int64

 1.0     218
2.0    2499
8.0    1917
9.0      74
Name: BA2_2_5, dtype: int64

 1.0        46
2.0        68
3.0        49
4.0         5
5.0        24
6.0         1
7.0         2
10.0       12
12.0        3
20.0        4
30.0        2
42.0        1
60.0        1
888.0    4415
999.0      75
Name: BA2_2_6, dtype: int64

 1.0    4141
2.0     196
3.0     228
4.0      40
5.0      28
9.0      75
Name: BA2_22, dtype: int64

 0.0     3629
4.0        1
10.0       7
15.0      11
20.0       6
30.0     809
40.0       7
45.0       8
50.0       2
99.0     228
Name: BP16_12, dtype: int64

 0.0     3006
10.0      27
15.0      15
18.0       1
20.0      53
25.0       4
30.0    1213
40.0      80
45.0      25
50.0      54
55.0       2
99.0     228
Name: BP16_14, dtype: int64

 0.0     3772
6.0        1
10.0       4
15.0       9
20.0       6
30.0     674
40.0       7
45.0       6
50.0       1
99.0     228
Name: BP16_22, dtype: int64

 0.0     3573
3.0        1
10.0       8
15.0       5
20.0      14
30.0     822
35.0       1
38.0       1
40.0      23
45.0      11
50.0      20
99.0     229
Name: BP16_24, dtype: int64

 0.0    3308
1.0     837
2.0     106
3.0     217
9.0     240
Name: BP_PHQ_1, dtype: int64

 0.0    3579
1.0     687
2.0      96
3.0     106
9.0     240
Name: BP_PHQ_2, dtype: int64

 0.0    2879
1.0    1033
2.0     204
3.0     353
9.0     239
Name: BP_PHQ_3, dtype: int64

 0.0    2421
1.0    1425
2.0     250
3.0     368
9.0     244
Name: BP_PHQ_4, dtype: int64

 0.0    3543
1.0     607
2.0     157
3.0     164
9.0     237
Name: BP_PHQ_5, dtype: int64

 0.0    3901
1.0     411
2.0      73
3.0      85
9.0     238
Name: BP_PHQ_6, dtype: int64

 0.0    4099
1.0     240
2.0      49
3.0      80
9.0     240
Name: BP_PHQ_7, dtype: int64

 0.0    4283
1.0     128
2.0      27
3.0      33
9.0     237
Name: BP_PHQ_8, dtype: int64

 0.0    4209
1.0     193
2.0      25
3.0      43
9.0     238
Name: BP_PHQ_9, dtype: int64

 1.0     254
2.0    1077
3.0    2652
4.0     645
9.0      80
Name: BP1, dtype: int64

 1.0      79
2.0    4553
9.0      76
Name: BP6_2, dtype: int64

 1.0      27
2.0    4606
9.0      75
Name: BP6_31, dtype: int64

 1.0     157
2.0    4475
9.0      76

Name: BP7, dtype: int64

 1.0     106
2.0    1707
3.0    2820
9.0      75
Name: BS1_1, dtype: int64

 1.0     774
2.0     148
3.0     891
8.0    2820
9.0      75
Name: BS3_1, dtype: int64

 1.0       11
2.0        9
3.0       15
4.0        5
5.0       12
7.0        6
8.0        1
10.0      18
12.0       1
15.0      25
18.0       1
20.0      37
22.0       1
25.0       1
28.0       1
30.0       4
88.0    4485
99.0      75
Name: BS3_3, dtype: int64

 0.0      696
1.0       48
2.0       36
3.0       23
4.0        5
5.0       21
6.0       26
7.0        6
8.0        7
9.0        5
10.0      15
11.0       3
88.0    3742
99.0      75
Name: BS6_2_2, dtype: int64

 0.0      649
1.0       43
2.0       26
3.0       28
4.0       12
5.0       26
6.0       46
7.0        9
8.0       14
9.0        9
10.0      24
11.0       5
88.0    3742
99.0      75
Name: BS6_4_2, dtype: int64

 1.0     207
2.0     288
3.0     141
4.0     286
8.0    3711
9.0      75
Name: BS5_4, dtype: int64

 1.0     540
2.0     382
8.0    3711
9.0      75
Name: BS5, dtype: int64

 1.0     196
2.0     140
3.0     330
4.0     255
8.0    3711
9.0      76
Name: BS5_1, dtype: int64

 1.0      10
2.0      10
3.0       4
4.0       9
5.0    1780
8.0    2820
9.0      75
Name: BS5_5, dtype: int64

 0.0     107
1.0    1461
8.0    3065
9.0      75
Name: BS5_21, dtype: int64

 0.0    1555
1.0      13
8.0    3065
9.0      75
Name: BS5_28, dtype: int64

 0.0    1435
1.0     133
8.0    3065
9.0      75
Name: BS5_26, dtype: int64

 0.0    1495
1.0      73
8.0    3065
9.0      75
Name: BS5_33, dtype: int64

 0.0    1524
1.0      44
8.0    3065
9.0      75
Name: BS5_34, dtype: int64

 0.0    1541
1.0      27
8.0    3065
9.0      75
Name: BS5_32, dtype: int64

 0.0    1550
1.0      18
8.0    3065
9.0      75
Name: BS5_29, dtype: int64

 0.0    1568
1.0     245
8.0    2820
9.0      75
Name: BS5_30, dtype: int64

 1.0     568
2.0    2384
8.0    1681
9.0      75
Name: BS8_2, dtype: int64

 1.0     314
2.0     816
3.0    3503
9.0      75
Name: BS9_2, dtype: int64

 1.0     983
2.0    3648
9.0      77
Name: BS13, dtype: int64

 1.0     372
2.0    4261
9.0      75
Name: BS12_1, dtype: int64

 1.0      84
2.0     288
8.0    4261
9.0      75
Name: BS12_2, dtype: int64

 1.0       81
2.0      190
3.0       18
4.0        1
6.0        6
7.0       45
8.0       29
9.0        2
88.0    4261
99.0      75
Name: BS12_21, dtype: int64

 0.0    4599
1.0      34
9.0      75
Name: BS12_31, dtype: int64

 0.0    4570
1.0      63
9.0      75
Name: BS12_32, dtype: int64

 0.0    4453
1.0     180
9.0      75
Name: BS12_33, dtype: int64

 0.0    4629
1.0       4
9.0      75
Name: BS12_34, dtype: int64

 0.0     236
1.0    4397
9.0      75
Name: BS12_36, dtype: int64

 0.0     228
1.0       8
8.0    4397
9.0      75
Name: BS12_41, dtype: int64

 0.0     230
1.0       6
8.0    4397
9.0      75
Name: BS12_42, dtype: int64

 0.0     214
1.0      22
8.0    4397
9.0      75
Name: BS12_43, dtype: int64

 0.0     235
1.0       1
8.0    4397
9.0      75
Name: BS12_44, dtype: int64

 0.0      33
1.0     203
8.0    4397
9.0      75
Name: BS12_46, dtype: int64

 1.0      83
2.0    4396
9.0     229
Name: BE3_71, dtype: int64

 1.0      13
2.0      17
3.0      15
4.0       6
5.0      11
6.0      10
7.0      11
8.0    4396
9.0     229
Name: BE3_72, dtype: int64

 0.0       37
1.0       21
2.0       12
3.0        5
4.0        1
5.0        2
6.0        2
9.0        1
10.0       1
88.0    4396
99.0     230
Name: BE3_73, dtype: int64

 0.0       43
10.0       8
15.0       4
20.0       4
30.0      20
40.0       2
50.0       1
88.0    4396
99.0     230
Name: BE3_74, dtype: int64

 1.0     397
2.0    4083
9.0     228
Name: BE3_81, dtype: int64

 1.0      48
2.0      46
3.0      88
4.0      31
5.0      85
6.0      31
7.0      68
8.0    4083
9.0     228
Name: BE3_82, dtype: int64

 0.0      153
1.0      101
2.0       69
3.0       35
4.0       16
5.0       15
6.0        1
7.0        3
8.0        2
9.0        1
10.0       1
88.0    4083
99.0     228
Name: BE3_83, dtype: int64

 0.0      222
10.0      37
15.0       7
20.0      29
25.0       2
30.0      90
35.0       1
40.0       7
45.0       1
50.0       1
88.0    4083
99.0     228
Name: BE3_84, dtype: int64

 1.0    2569
2.0    1911
9.0     228
Name: BE3_91, dtype: int64

 1.0     150
2.0     231
3.0     398
4.0     247
5.0     617
6.0     194
7.0     731
8.0    1911
9.0     229
Name: BE3_92, dtype: int64

 0.0     1794
1.0      626
2.0      101
3.0       29
4.0       10
5.0        3
6.0        2
88.0    1911
99.0     232
Name: BE3_93, dtype: int64

 1.0     519
2.0    3960
9.0     229
Name: BE3_75, dtype: int64

 1.0      99
2.0      98
3.0     126
4.0      74
5.0      81
6.0      22
7.0      19
8.0    3960
9.0     229
Name: BE3_76, dtype: int64

 0.0      292
1.0      168
2.0       39
3.0       11
4.0        7
6.0        2
88.0    3960
99.0     229
Name: BE3_77, dtype: int64

 0.0      197
10.0      33
12.0       2
15.0      18
20.0      57
25.0       5
30.0     159
40.0      33
45.0       1
50.0      14
88.0    3960
99.0     229
Name: BE3_78, dtype: int64

 1.0    1075
2.0    3405
9.0     228
Name: BE3_85, dtype: int64

 1.0     134
2.0     203
3.0     307
4.0     157
5.0     162
6.0      50
7.0      62
8.0    3405
9.0     228
Name: BE3_86, dtype: int64

 0.0      630
1.0      356
2.0       61
3.0       19
4.0        7
5.0        1
6.0        1
88.0    3405
99.0     228
Name: BE3_87, dtype: int64

 0.0      387
10.0      68
15.0      36
20.0     133
25.0       4
30.0     335
35.0       5
40.0      66
45.0      10
50.0      30
55.0       1
88.0    3405
99.0     228
Name: BE3_88, dtype: int64

 0.0     4136
5.0        1
10.0      12
15.0       1
20.0      16
25.0       1
30.0     242
35.0       1
40.0      11
45.0       3
48.0       1
50.0       6
55.0       1
99.0     276
Name: BE8_2, dtype: int64

 1.0      757
2.0      290
3.0      469
4.0      604
5.0      340
6.0      505
7.0      251
8.0     1255
99.0     237
Name: BE3_31, dtype: int64

 0.0     2077
1.0     1047
2.0      365
3.0      127
4.0       44
5.0       24
6.0       14
7.0        4
8.0        1
9.0        9
10.0       2
88.0     757
99.0     237
Name: BE3_32, dtype: int64

 1.0    3457
2.0     147
3.0     214
4.0     258
5.0     103
6.0     299
9.0     230
Name: BE5_1, dtype: int64

 2.0    3496
3.0      36
4.0      36
5.0     884
6.0     135
7.0       6
9.0     115
Name: LW_ms, dtype: int64

 9.0        14
10.0       69
11.0      242
12.0      446
13.0     2536
14.0      513
15.0      295
16.0      201
17.0      136
18.0       77
19.0       24
20.0       10
21.0        1
22.0        3
23.0        2
999.0     139
Name: LW_ms_a, dtype: int64

 1.0    4141
2.0     453
9.0     114
Name: LW_pr, dtype: int64

 1.0      217
2.0      475
3.0     2499
4.0      412
5.0      287
6.0      114
7.0       58
8.0       31
9.0       14
10.0      21
11.0       3
12.0       4
13.0       4
16.0       1
18.0       1
88.0     453
99.0     114
Name: LW_pr_1, dtype: int64

 1.0    4071
2.0      70
8.0     453
9.0     114
Name: LW_mt, dtype: int64

 1.0    3760
2.0     311
8.0     523
9.0     114
Name: LW_br, dtype: int64

 1.0      424
2.0     2877
3.0      286
4.0       94
5.0       44
6.0       23
7.0        9
8.0        3
88.0     834
99.0     114
Name: LW_br_ch, dtype: int64

 0.0      681
1.0      101
2.0      136
3.0      130
4.0      109
5.0       60
6.0      229
7.0       50
8.0       73
9.0       74
10.0      74
11.0      28
88.0    2829
99.0     134
Name: LW_br_mm, dtype: int64

 1.0     419
2.0    4174
9.0     115
Name: LW_oc, dtype: int64

 0.0    2512
1.0     201
8.0    1995
Name: HE_mens, dtype: int64

 0.0    2674
1.0      39
8.0    1995
Name: HE_prg, dtype: int64

 2.0        5
3.0        3
4.0        7
5.0        6
6.0        3
7.0        3
8.0        3
9.0     4677
10.0       1
Name: HE_dprg, dtype: int64

 0.0    1824
1.0    2811
9.0      73
Name: HE_fh, dtype: int64

 0.0    3565
1.0     898
9.0     245
Name: HE_HPfh1, dtype: int64

 0.0    3504
1.0    1011
9.0     193
Name: HE_HPfh2, dtype: int64

 0.0    4192
1.0     343
8.0      54
9.0     119
Name: HE_HPfh3, dtype: int64

 0.0    4337
1.0     120
9.0     251
Name: HE_HLfh1, dtype: int64

 0.0    4298
1.0     212
9.0     198
Name: HE_HLfh2, dtype: int64

 0.0    4442
1.0      92
8.0      54
9.0     120
Name: HE_HLfh3, dtype: int64

 0.0    4303
1.0     156
9.0     249
Name: HE_IHDfh1, dtype: int64

 0.0    4401
1.0     111
9.0     196
Name: HE_IHDfh2, dtype: int64

 0.0    4490
1.0      44
8.0      54
9.0     120
Name: HE_IHDfh3, dtype: int64

 0.0    4199
1.0     275
9.0     234
Name: HE_STRfh1, dtype: int64

 0.0    4321
1.0     197
9.0     190
Name: HE_STRfh2, dtype: int64

 0.0    4484
1.0      51
8.0      54
9.0     119
Name: HE_STRfh3, dtype: int64

 0.0    3945
1.0     515
9.0     248
Name: HE_DMfh1, dtype: int64

 0.0    3945
1.0     571
9.0     192
Name: HE_DMfh2, dtype: int64

 0.0    4244
1.0     292
8.0      54
9.0     118
Name: HE_DMfh3, dtype: int64

 0.0    4434
1.0      26
9.0     248
Name: HE_THfh1, dtype: int64

 0.0    4338
1.0     175
9.0     195
Name: HE_THfh2, dtype: int64

 0.0    4417
1.0     117
8.0      54
9.0     120
Name: HE_THfh3, dtype: int64

 0.0    4421
1.0      40
9.0     247
Name: HE_HBfh1, dtype: int64

 0.0    4454
1.0      54
9.0     200
Name: HE_HBfh2, dtype: int64

 0.0    4476
1.0      55
8.0      54
9.0     123
Name: HE_HBfh3, dtype: int64

 15.0     637
16.0     773
17.0     795
18.0    1165
19.0     490
20.0     286
21.0     305
22.0     138
23.0      60
24.0      47
25.0      11
27.0       1
Name: HE_PLS, dtype: int64

 1.0    2640
2.0    1468
3.0     600
Name: HE_HP, dtype: int64

 1.0     213
2.0    3069
3.0    1426
Name: HE_obe, dtype: int64

 1.0    3387
2.0     992
3.0     329
Name: HE_DM, dtype: int64

 5.0    2381
6.0    1115
6.5     529
7.0     597
8.0      86
Name: HE_Uph, dtype: int64

 0.0    4459
1.0     208
2.0      27
3.0      11
4.0       3
Name: HE_Upro, dtype: int64

 0.0    4569
1.0      28
2.0      32
3.0      29
4.0      50
Name: HE_Uglu, dtype: int64

 0.0    4467
1.0     157
2.0      38
3.0      31
4.0      15
Name: HE_Uket, dtype: int64

 0.0    3436
1.0     661
2.0     346
3.0     138
4.0      51
5.0      76
Name: HE_Ubld, dtype: int64

 0.0    4669
1.0      31
2.0       8
Name: HE_Uro, dtype: int64

 1.0    3898
2.0     238
3.0     277
9.0     295
Name: HE_COPD, dtype: int64

 1.0     4641
2.0       11
3.0        7
4.0        4
5.0       10
6.0        3
8.0        2
10.0      16
15.0       2
20.0       6
23.0       1
25.0       1
30.0       2
40.0       1
42.0       1
Name: HE_cough2, dtype: int64

 1.0     4600
2.0        8
3.0       25
4.0        6
5.0       13
6.0        6
7.0        1
8.0        3
9.0        1
10.0      21
11.0       1
15.0       4
20.0      10
25.0       1
30.0       2
40.0       4
42.0       1
60.0       1
Name: HE_sput2, dtype: int64

 1.0      12
2.0    4693
3.0       3
Name: HE_PFTtr, dtype: int64

 0.0      79
1.0    4554
9.0      75
Name: BM1_0, dtype: int64

 0.0    2808
1.0    1746
8.0      79
9.0      75
Name: BM1_1, dtype: int64

 0.0    1635
1.0    2919
8.0      79
9.0      75
Name: BM1_2, dtype: int64

 0.0    4483
1.0      71
8.0      79
9.0      75
Name: BM1_3, dtype: int64

 0.0    2282
1.0    2272
8.0      79
9.0      75
Name: BM1_4, dtype: int64

 0.0    4439
1.0     115
8.0      79
9.0      75
Name: BM1_5, dtype: int64

 0.0    2003
1.0    2551
8.0      79
9.0      75
Name: BM1_6, dtype: int64

 0.0    4420
1.0     134
8.0      79
9.0      75
Name: BM1_7, dtype: int64

 0.0    2260
1.0    2294
8.0      79
9.0      75
Name: BM1_8, dtype: int64

 0.0    3448
1.0    1185
9.0      75
Name: BM2_1, dtype: int64

 0.0    3644
1.0     989
9.0      75
Name: BM2_3, dtype: int64

 0.0    3587
1.0    1046
9.0      75
Name: BM2_2, dtype: int64

 0.0    4408
1.0     225
9.0      75
Name: BM2_4, dtype: int64

 0.0    4348
1.0     285
9.0      75
Name: BM2_5, dtype: int64

 0.0    4070
1.0     563
9.0      75
Name: BM13, dtype: int64

 0.0     427
1.0     136
8.0    4070
9.0      75
Name: BM13_1, dtype: int64

 0.0     515
1.0      48
8.0    4070
9.0      75
Name: BM13_2, dtype: int64

 0.0     511
1.0      52
8.0    4070
9.0      75
Name: BM13_3, dtype: int64

 0.0     234
1.0     329
8.0    4070
9.0      75
Name: BM13_4, dtype: int64

 0.0     561
1.0       2
8.0    4070
9.0      75
Name: BM13_5, dtype: int64

 1.0     165
2.0     736
3.0     764
4.0    1107
5.0    1859
9.0      77
Name: BM7, dtype: int64

 1.0      52
2.0     243
3.0     395
4.0     782
5.0    3159
9.0      77
Name: BM8, dtype: int64

 0.0    2955
1.0    1676
9.0      77
Name: OR1_2, dtype: int64

 0.0    2054
1.0    2577
9.0      77
Name: MO4_00, dtype: int64

 0.0     370
1.0    2207
8.0    2054
9.0      77
Name: MO4_4, dtype: int64

 0.0    1989
1.0     588
8.0    2054
9.0      77
Name: MO4_9, dtype: int64

 0.0    1853
1.0     724
8.0    2054
9.0      77
Name: MO4_7, dtype: int64

 0.0    2021
1.0     556
8.0    2054
9.0      77
Name: MO4_8, dtype: int64

 0.0    1127
1.0    1450
8.0    2054
9.0      77
Name: MO4_17, dtype: int64

 0.0    2173
1.0     404
8.0    2054
9.0      77
Name: MO4_11, dtype: int64

 0.0    2516
1.0      61
8.0    2054
9.0      77
Name: MO4_12, dtype: int64

 0.0    1915
1.0     662
8.0    2054
9.0      77
Name: MO4_18, dtype: int64

 0.0    2417
1.0     160
8.0    2054
9.0      77
Name: MO4_15, dtype: int64

 1.0    1225
2.0    2472
3.0     934
9.0      77
Name: BM14, dtype: int64

 1.0      430
2.0      312
3.0      273
4.0       17
5.0       26
6.0        6
7.0      128
8.0       33
88.0    3406
99.0      77
Name: BM14_1, dtype: int64

 1.0    2444
2.0     360
3.0      89
4.0       6
8.0    1770
9.0      39
Name: T_Q_HR, dtype: int64

 1.0      28
2.0      13
3.0     413
8.0    4214
9.0      40
Name: T_Q_HR1, dtype: int64

 1.0     738
2.0    2150
3.0      11
8.0    1770
9.0      39
Name: T_Q_VN, dtype: int64

 1.0     438
2.0     264
3.0      36
8.0    3931
9.0      39
Name: T_Q_VN1, dtype: int64

 1.0     187
2.0    2711
3.0       1
8.0    1770
9.0      39
Name: T_NQ_PH, dtype: int64

 1.0     459
2.0    2440
8.0    1770
9.0      39
Name: T_NQ_OCP, dtype: int64

 1.0      89
2.0     368
8.0    4210
9.0      41
Name: T_NQ_OCP_P, dtype: int64

 1.0      67
2.0    2830
3.0       2
8.0    1770
9.0      39
Name: T_NQ_LS, dtype: int64

 1.0    1047
2.0    1836
3.0      16
8.0    1770
9.0      39
Name: T_NQ_FIR, dtype: int64

 1.0     150
2.0     897
8.0    3622
9.0      39
Name: T_NQ_FIR_P, dtype: int64

 1.0    4199
2.0     257
3.0     251
9.0       1
Name: GS_use, dtype: int64

 1.0    3154
2.0     497
3.0     478
4.0     579
Name: L_BR_FQ, dtype: int64

 1.0    4277
2.0     292
3.0      77
4.0      62
Name: L_LN_FQ, dtype: int64

 1.0    4271
2.0     350
3.0      69
4.0      18
Name: L_DN_FQ, dtype: int64

 1.0     317
2.0     705
3.0     615
4.0     472
5.0    1638
6.0     687
7.0     274
Name: L_OUT_FQ, dtype: int64

 1.0    2502
2.0    1149
3.0    1057
Name: L_BR_TO, dtype: int64

 1.0    1653
2.0     112
8.0    2943
Name: L_BR_WHO, dtype: int64

 1.0    3309
2.0    1260
3.0     139
Name: L_LN_TO, dtype: int64

 1.0     759
2.0    2550
8.0    1399
Name: L_LN_WHO, dtype: int64

 1.0    3804
2.0     817
3.0      87
Name: L_DN_TO, dtype: int64

 1.0    3294
2.0     510
8.0     904
Name: L_DN_WHO, dtype: int64

 1.0    1106
2.0    2758
8.0     844
Name: LK_LB_US, dtype: int64

 1.0      443
2.0       38
3.0      126
4.0       66
5.0       57
6.0       23
7.0      130
8.0       66
9.0      142
10.0      15
88.0    3602
Name: LK_LB_IT, dtype: int64

 1.0     927
2.0     179
8.0    3602
Name: LK_LB_EF, dtype: int64

 1.0     913
2.0    3794
9.0       1
Name: N_DIET, dtype: int64

 1.0     185
2.0     674
3.0      54
8.0    3794
9.0       1
Name: N_DIET_WHY, dtype: int64

 1     852
2    3329
3     527
Name: N_DUSUAL, dtype: int64

 1.0      38
2.0      44
8.0    4626
Name: N_PRG, dtype: int64

 1.0    2840
2.0    1756
3.0      96
4.0      16
Name: LF_SAFE, dtype: int64

 1.0      546
2.0     3713
99.0     449
Name: FS_CHANG, dtype: int64

 1.0       90
2.0       81
3.0      100
4.0       47
5.0       40
6.0     4264
7.0       20
8.0       21
9.0       10
10.0      26
11.0       9
Name: FS_CHANG_O, dtype: int64

 1.0      140
2.0     2870
3.0     1224
4.0       21
5.0        4
99.0     449
Name: FS_MEAL, dtype: int64

 1.0      182
2.0      156
3.0      327
4.0      262
5.0      453
6.0      256
7.0      556
8.0     1958
9.0      109
99.0     449

Name: FF_RICE, dtype: int64

 1.0      882
2.0     3075
3.0       92
4.0       28
88.0     182
99.0     449
Name: FA_RICE, dtype: int64

 1.0      316
2.0       95
3.0      152
4.0      139
5.0      268
6.0       93
7.0      666
8.0     2259
9.0      271
99.0     449
Name: FF_BARLEY, dtype: int64

 1.0      954
2.0     2897
3.0       77
4.0       15
88.0     316
99.0     449
Name: FA_BARLEY, dtype: int64

 1.0      779
2.0      578
3.0     2167
4.0      500
5.0      228
6.0        5
7.0        2
99.0     449
Name: FF_BIBIM, dtype: int64

 1.0      300
2.0     3024
3.0      156
88.0     779
99.0     449
Name: FA_BIBIM, dtype: int64

 1.0     2382
2.0      759
3.0      678
4.0      299
5.0      129
6.0        7
7.0        3
8.0        2
99.0     449
Name: FF_GIMBAB, dtype: int64

 1.0       96
2.0     2634
3.0      228
4.0      304
88.0     997
99.0     449
Name: FA_GIMBAB, dtype: int64

 1.0     2804
2.0      870
3.0      483
4.0       85
5.0       16
7.0        1
99.0     449
Name: FF_CURRY, dtype: int64

 1.0      241
2.0     1100
3.0      114
88.0    2804
99.0     449
Name: FA_CURRY, dtype: int64

 1.0      527
2.0      335
3.0     2103
4.0      631
5.0      607
6.0       50
7.0        6
99.0     449
Name: FF_INSTNO, dtype: int64

 1.0      197
2.0     3397
3.0      138
88.0     527
99.0     449
Name: FA_INSTNO, dtype: int64

 1.0     2252
2.0      713
3.0      730
4.0      393
5.0      163
6.0        4
7.0        4
99.0     449
Name: FF_WHNO, dtype: int64

 1.0      138
2.0     3148
3.0      106
88.0     867
99.0     449
Name: FA_WHNO, dtype: int64

 1.0     2376
2.0      902
3.0      714
4.0      226
5.0       39
6.0        1
7.0        1
99.0     449
Name: FF_CHNO, dtype: int64

 1.0      148
2.0     3048
3.0       72
88.0     991
99.0     449
Name: FA_CHNO, dtype: int64

 1.0     3391
2.0      627
3.0      204
4.0       27
5.0        9
7.0        1
99.0     449
Name: FF_BUNO, dtype: int64

 1.0       42
2.0      779
3.0       47
88.0    3391
99.0     449
Name: FA_BUNO, dtype: int64

 1.0     3465
2.0      564
3.0      189
4.0       36
5.0        5
99.0     449
Name: FF_S_RCAK, dtype: int64

 1.0       95
2.0      662
3.0       37
88.0    3465
99.0     449
Name: FA_S_RCAK, dtype: int64

 1.0     2756
2.0      806
3.0      503
4.0      140
5.0       52
6.0        2
99.0     449
Name: FF_DUMP, dtype: int64

 1.0      413
2.0      958
3.0      132
88.0    2756
99.0     449
Name: FA_DUMP, dtype: int64

 1.0     3044
2.0      496
3.0      358
4.0      204
5.0      129
6.0       18
7.0       10
99.0     449
Name: FF_BRE, dtype: int64

 1.0      290
2.0      720
3.0      205
88.0    3044
99.0     449
Name: FA_BRE, dtype: int64

 1.0     4010
2.0       96
3.0       65
4.0       49
5.0       35
6.0        3
7.0        1
99.0     449
Name: FF_BUTTER, dtype: int64

 1.0      168
2.0       38
3.0       43
88.0    4010
99.0     449
Name: FA_BUTTER, dtype: int64

 1.0     3543
2.0      332
3.0      189
4.0      119
5.0       63
6.0        7
7.0        6
99.0     449
Name: FF_JAM, dtype: int64

 1.0      254
2.0      202
3.0      260
88.0    3543
99.0     449
Name: FA_JAM, dtype: int64

 1.0     3088
2.0      605
3.0      365
4.0      127
5.0       67
6.0        6
7.0        1
99.0     449
Name: FF_RB_BRE, dtype: int64

 1.0       45
2.0      931
3.0      195
88.0    3088
99.0     449
Name: FA_RB_BRE, dtype: int64

 1.0     3030
2.0      653
3.0      354
4.0      133
5.0       76
6.0        9
7.0        3
8.0        1
99.0     449
Name: FF_CAKE, dtype: int64

 1.0       92
2.0      885
3.0      252
88.0    3030
99.0     449
Name: FA_CAKE, dtype: int64

 1.0     2856
2.0      990
3.0      348
4.0       51
5.0       14
99.0     449
Name: FF_PIZZA, dtype: int64

 1.0      226
2.0      728
3.0      449
88.0    2856
99.0     449
Name: FA_PIZZA, dtype: int64

 1.0     2786
2.0      757
3.0      499
4.0      152
5.0       59
6.0        5
7.0        1
99.0     449
Name: FF_HAMBER, dtype: int64

 1.0       71
2.0     1335
3.0       67
88.0    2786
99.0     449
Name: FA_HAMBER, dtype: int64

 1.0     3305
2.0      601
3.0      230
4.0       76
5.0       38
6.0        8
7.0        1
99.0     449
Name: FF_RCAK, dtype: int64

 1.0      133
2.0      458
3.0      363
88.0    3305
99.0     449
Name: FA_RCAK, dtype: int64

 1.0     2742
2.0      759
3.0      517
4.0      183
5.0       56
6.0        2
99.0     449
Name: FF_F_RCAK, dtype: int64

 1.0      156
2.0      746
3.0      615
88.0    2742
99.0     449
Name: FA_F_RCAK, dtype: int64

 1.0     3634
2.0      227
3.0      162
4.0      107
5.0      104
6.0       16
7.0        9
99.0     449
Name: FF_CEREAL, dtype: int64

 1.0       30
2.0      289
3.0      306
88.0    3634
99.0     449
Name: FA_CEREAL, dtype: int64

 1.0     2851
2.0      829
3.0      434
4.0      106
5.0       37
6.0        1
7.0        1
99.0     449
Name: FF_T_BEEF, dtype: int64

 1.0       17
2.0      418
3.0      973
88.0    2851
99.0     449
Name: FA_T_BEEF, dtype: int64

 1.0     3237
2.0      767
3.0      216
4.0       33
5.0        6
99.0     449
Name: FF_T_POTA, dtype: int64

 1.0       19
2.0      218
3.0      785
88.0    3237
99.0     449
Name: FA_T_POTA, dtype: int64

 1.0     3669
2.0      439
3.0      131
4.0       19
5.0        1
99.0     449
Name: FF_T_LOAC, dtype: int64

 1.0        7
2.0      120
3.0      463
88.0    3669
99.0     449
Name: FA_T_LOAC, dtype: int64

 1.0     3251
2.0      738
3.0      220
4.0       40
5.0       10
99.0     449
Name: FF_J_POLL, dtype: int64

 1.0       25
2.0      382
3.0      601
88.0    3251
99.0     449
Name: FA_J_POLL, dtype: int64

 1.0      632
2.0     2330
3.0      909
4.0      281
5.0       96
6.0        8
7.0        2
8.0        1
99.0     449
Name: FF_S_SWED, dtype: int64

 1.0       72
2.0      955
3.0     2600
88.0     632
99.0     449
Name: FA_S_SWED, dtype: int64

 1.0     2342
2.0      915
3.0      745
4.0      196
5.0       59
6.0        2
99.0     449
Name: FF_S_BEEF, dtype: int64

 1.0       65
2.0      841
3.0     2396
88.0     957
99.0     449
Name: FA_S_BEEF, dtype: int64

 1.0     3290
2.0      577
3.0      295
4.0       84
5.0       11
6.0        2
99.0     449
Name: FF_S_POLL, dtype: int64

 1.0       40
2.0      479
3.0      450
88.0    3290
99.0     449
Name: FA_S_POLL, dtype: int64

 1.0      715
2.0      573
3.0     2118
4.0      434
5.0      380
6.0       36
7.0        2
8.0        1
99.0     449
Name: FF_S_SOYP, dtype: int64

 1.0      171
2.0     2567
3.0      806
88.0     715
99.0     449
Name: FA_S_SOYP, dtype: int64

 1.0      375
2.0      549
3.0     2272
4.0      533
5.0      491
6.0       31
7.0        8
99.0     449
Name: FF_J_SOYP, dtype: int64

 1.0      518
2.0     2772
3.0      594
88.0     375
99.0     449
Name: FA_J_SOYP, dtype: int64

 1.0      293
2.0      525
3.0     2386
4.0      612
5.0      425
6.0       16
7.0        2
99.0     449
Name: FF_J_KIMC, dtype: int64

 1.0      394
2.0     2824
3.0      748
88.0     293
99.0     449
Name: FA_J_KIMC, dtype: int64

 1.0     3275
2.0      615
3.0      272
4.0       80
5.0       17
99.0     449
Name: FF_J_BUDA, dtype: int64

 1.0       74
2.0      475
3.0      435
88.0    3275
99.0     449
Name: FA_J_BUDA, dtype: int64

 1.0     2645
2.0      832
3.0      504
4.0      213
5.0       60
6.0        5
99.0     449
Name: FF_J_BNCD, dtype: int64

 1.0      199
2.0      920
3.0      495
88.0    2645
99.0     449
Name: FA_J_BNCD, dtype: int64

 1.0     2152
2.0      744
3.0      695
4.0      381
5.0      262
6.0       16
7.0        8
9.0        1
99.0     449
Name: FF_BNCURD, dtype: int64

 1.0      162
2.0     2447
3.0      883
88.0     767
99.0     449
Name: FA_BNCURD, dtype: int64

 1.0     3347
2.0      436
3.0      210
4.0      111
5.0      111
6.0       22
7.0       17
8.0        2
9.0        3
99.0     449
Name: FF_S_BEAN, dtype: int64

 1.0      103
2.0      445
3.0      364
88.0    3347
99.0     449
Name: FA_S_BEAN, dtype: int64

 1.0      206
2.0      270
3.0      543
4.0      545
5.0     2329
6.0      235
7.0      124
8.0        6
9.0        1
99.0     449
Name: FF_F_EGG, dtype: int64

 1.0      107
2.0     3343
3.0      603
88.0     206
99.0     449
Name: FA_F_EGG, dtype: int64

 1.0     2242
2.0      580
3.0      577
4.0      438
5.0      324
6.0       45
7.0       51
8.0        2
99.0     449

Name: FF_S_EGG, dtype: int64

 1.0       90
2.0     2567
3.0      745
88.0     857
99.0     449
Name: FA_S_EGG, dtype: int64

 1.0      425
2.0      695
3.0     2322
4.0      563
5.0      246
6.0        8
99.0     449
Name: FF_R_PORK, dtype: int64

 1.0      374
2.0     2874
3.0      586
88.0     425
99.0     449
Name: FA_R_PORK, dtype: int64

 1.0     2812
2.0      969
3.0      331
4.0      112
5.0       30
6.0        3
7.0        2
99.0     449
Name: FF_S_PORK, dtype: int64

 1.0      295
2.0      746
3.0      406
88.0    2812
99.0     449
Name: FA_S_PORK, dtype: int64

 1.0      711
2.0     2362
3.0      741
4.0      318
5.0      120
6.0        7
99.0     449
Name: FF_F_PORK, dtype: int64

 1.0      505
2.0     2532
3.0      511
88.0     711
99.0     449
Name: FA_F_PORK, dtype: int64

 1.0     2560
2.0      895
3.0      530
4.0      220
5.0       52
6.0        2
99.0     449
Name: FF_C_PORK, dtype: int64

 1.0      326
2.0      905
3.0      468
88.0    2560
99.0     449
Name: FA_C_PORK, dtype: int64

 1.0     2699
2.0      947
3.0      417
4.0      156
5.0       40
99.0     449
Name: FF_R_BEEF, dtype: int64

 1.0      239
2.0     1041
3.0      280
88.0    2699
99.0     449
Name: FA_R_BEEF, dtype: int64

 1.0     2776
2.0      994
3.0      369
4.0      100
5.0       19
7.0        1
99.0     449
Name: FF_F_BEEF, dtype: int64

 1.0      402
2.0      794
3.0      287
88.0    2776
99.0     449
Name: FA_F_BEEF, dtype: int64

 1.0     2922
2.0      530
3.0      419
4.0      239
5.0      141
6.0        7
7.0        1
99.0     449
Name: FF_HAM, dtype: int64

 1.0       49
2.0      330
3.0      958
88.0    2922
99.0     449
Name: FA_HAM, dtype: int64

 1.0     3169
2.0      762
3.0      257
4.0       59
5.0       12
99.0     449
Name: FF_PORKBY, dtype: int64

 1.0       49
2.0      322
3.0      719
88.0    3169
99.0     449
Name: FA_PORKBY, dtype: int64

 1.0     3293
2.0      792
3.0      158
4.0       14
5.0        2
99.0     449
Name: FF_T_CHIC, dtype: int64

 1.0      220
2.0      700
3.0       46
88.0    3293
99.0     449
Name: FA_T_CHIC, dtype: int64

 1.0     1134
2.0     2580
3.0      441
4.0       85
5.0       19
99.0     449
Name: FF_S_CHIC, dtype: int64

 1.0      921
2.0      586
3.0      233
88.0    2519
99.0     449
Name: FA_S_CHIC, dtype: int64

 1.0      672
2.0     2358
3.0      809
4.0      334
5.0       80
6.0        6
99.0     449
Name: FF_F_CHIC, dtype: int64

 1.0      232
2.0      642
3.0     2713
88.0     672
99.0     449
Name: FA_F_CHIC, dtype: int64

 1.0     3421
2.0      644
3.0      154
4.0       30
5.0        9
6.0        1
99.0     449
Name: FF_R_DUCK, dtype: int64

 1.0      191
2.0      515
3.0      132
88.0    3421
99.0     449
Name: FA_R_DUCK, dtype: int64

 1.0     2376
2.0      897
3.0      656
4.0      228
5.0       96
6.0        4
7.0        2
99.0     449
Name: FF_MACKER, dtype: int64

 1.0       41
2.0      286
3.0     2941
88.0     991
99.0     449
Name: FA_MACKER, dtype: int64

 1.0     2875
2.0      779
3.0      416
4.0      142
5.0       44
6.0        1
7.0        2
99.0     449
Name: FF_HAIRT, dtype: int64

 1.0       42
2.0      288
3.0     1054
88.0    2875
99.0     449
Name: FA_HAIRT, dtype: int64

 1.0     2035
2.0      498
3.0      544
4.0      403
5.0      532
6.0      142
7.0       84
8.0       16
9.0        5
99.0     449
Name: FF_ANCH, dtype: int64

 1.0      224
2.0     2573
3.0      812
88.0     650
99.0     449
Name: FA_ANCH, dtype: int64

 1.0     2492
2.0      796
3.0      566
4.0      251
5.0      136
6.0       13
7.0        5
99.0     449
Name: FF_SQUID, dtype: int64

 1.0      663
2.0      769
3.0      335
88.0    2492
99.0     449
Name: FA_SQUID, dtype: int64

 1.0     3911
2.0      276
3.0       51
4.0       17
5.0        2
6.0        2
99.0     449
Name: FF_SCRAB, dtype: int64

 1.0       13
2.0       62
3.0      273
88.0    3911
99.0     449
Name: FA_SCRAB, dtype: int64

 1.0     3515
2.0      379
3.0      227
4.0       77
5.0       50
6.0        6
7.0        3
9.0        2
99.0     449
Name: FF_SFISH, dtype: int64

 1.0      182
2.0      314
3.0      248
88.0    3515
99.0     449
Name: FA_SFISH, dtype: int64

 1.0     2360
2.0      823
3.0      702
4.0      268
5.0       99
6.0        6
7.0        1
99.0     449
Name: FF_FPASTE, dtype: int64

 1.0      495
2.0     2422
3.0      367
88.0     975
99.0     449
Name: FA_FPASTE, dtype: int64

 1.0      407
2.0      599
3.0     2353
4.0      541
5.0      321
6.0       34
7.0        4
99.0     449
Name: FF_SPROU, dtype: int64

 1.0       91
2.0      849
3.0     2912
88.0     407
99.0     449
Name: FA_SPROU, dtype: int64

 1.0     2398
2.0      774
3.0      636
4.0      302
5.0      134
6.0       13
7.0        2
99.0     449
Name: FF_SPINAC, dtype: int64

 1.0      110
2.0      792
3.0      959
88.0    2398
99.0     449
Name: FA_SPINAC, dtype: int64

 1.0     3311
2.0      549
3.0      271
4.0       98
5.0       30
99.0     449
Name: FF_BELLFI, dtype: int64

 1.0       92
2.0      450
3.0      406
88.0    3311
99.0     449
Name: FA_BELLFI, dtype: int64

 1.0     2608
2.0      749
3.0      567
4.0      228
5.0       98
6.0        5
7.0        4
99.0     449
Name: FF_PUMPKI, dtype: int64

 1.0       84
2.0      655
3.0      912
88.0    2608
99.0     449
Name: FA_PUMPKI, dtype: int64

 1.0     2136
2.0      665
3.0      658
4.0      349
5.0      346
6.0       70
7.0       33
8.0        2
99.0     449
Name: FF_OVEG, dtype: int64

 1.0      118
2.0      805
3.0     2585
88.0     751
99.0     449
Name: FA_OVEG, dtype: int64

 1.0      736
2.0      646
3.0     2141
4.0      452
5.0      251
6.0       22
7.0       11
99.0     449
Name: FF_CUCUMB, dtype: int64

 1.0       88
2.0      660
3.0     2775
88.0     736
99.0     449
Name: FA_CUCUMB, dtype: int64

 1.0     2193
2.0      705
3.0      706
4.0      375
5.0      247
6.0       22
7.0       10
8.0        1
99.0     449
Name: FF_RADI, dtype: int64

 1.0      271
2.0     2326
3.0      854
88.0     808
99.0     449
Name: FA_RADI, dtype: int64

 1.0     2344
2.0      547
3.0      578
4.0      369
5.0      332
6.0       65
7.0       24
99.0     449
Name: FF_VSALAD, dtype: int64

 1.0      156
2.0      694
3.0     2450
88.0     959
99.0     449
Name: FA_VSALAD, dtype: int64

 1.0      755
2.0      726
3.0     2192
4.0      392
5.0      181
6.0        9
7.0        3
8.0        1
99.0     449
Name: FF_GREENO, dtype: int64

 1.0       47
2.0      419
3.0     3038
88.0     755
99.0     449
Name: FA_GREENO, dtype: int64

 1.0      200
2.0      470
3.0     2371
4.0      671
5.0      481
6.0       49
7.0       15
8.0        2
99.0     449
Name: FF_RAWVEG, dtype: int64

 1.0      971
2.0     2516
3.0      572
88.0     200
99.0     449
Name: FA_RAWVEG, dtype: int64

 1.0     2687
2.0      732
3.0      440
4.0      242
5.0      132
6.0       16
7.0        9
9.0        1
99.0     449
Name: FF_BROCOL, dtype: int64

 1.0       26
2.0      311
3.0     1235
88.0    2687
99.0     449
Name: FA_BROCOL, dtype: int64

 1.0     2379
2.0      511
3.0      693
4.0      352
5.0      261
6.0       37
7.0       23
8.0        3
99.0     449
Name: FF_GARLIC, dtype: int64

 1.0       64
2.0      276
3.0     2925
88.0     994
99.0     449
Name: FA_GARLIC, dtype: int64

 1.0      196
2.0      348
3.0     2300
4.0      636
5.0      661
6.0       80
7.0       30
8.0        7
9.0        1
99.0     449
Name: FF_FER_BN, dtype: int64

 1.0      831
2.0      451
3.0     2781
88.0     196
99.0     449
Name: FA_FER_BN, dtype: int64

 1.0       72
2.0       41
3.0       83
4.0      123
5.0      477
6.0      170
7.0      635
8.0     2277
9.0      381
99.0     449
Name: FF_KIMCHI, dtype: int64

 1.0      592
2.0     2813
3.0      782
88.0      72
99.0     449
Name: FA_KIMCHI, dtype: int64

 1.0      407
2.0      203
3.0      307
4.0      409
5.0     2069
6.0      145
7.0      434
8.0      206
9.0       79
99.0     449
Name: FF_OKIMCH, dtype: int64

 1.0      361
2.0     2611
3.0      880
88.0     407
99.0     449
Name: FA_OKIMCH, dtype: int64

 1.0     2392
2.0      418
3.0      495
4.0      398
5.0      363
6.0       66
7.0      100
8.0       19
9.0        8
99.0     449
Name: FF_SVEG, dtype: int64

 1.0      240
2.0      955
3.0      672
88.0    2392
99.0     449

Name: FA_SVEG, dtype: int64

 1.0     3107
2.0      497
3.0      361
4.0      177
5.0       88
6.0       20
7.0        7
8.0        2
99.0     449
Name: FF_ROOT, dtype: int64

 1.0      288
2.0      648
3.0      216
88.0    3107
99.0     449
Name: FA_ROOT, dtype: int64

 1.0     2437
2.0      964
3.0      580
4.0      207
5.0       70
6.0        1
99.0     449
Name: FF_PCAKE, dtype: int64

 1.0      417
2.0      545
3.0      860
88.0    2437
99.0     449
Name: FA_PCAKE, dtype: int64

 1.0     3093
2.0      842
3.0      267
4.0       50
5.0        7
99.0     449
Name: FF_F_VEG, dtype: int64

 1.0       74
2.0      383
3.0      709
88.0    3093
99.0     449
Name: FA_F_VEG, dtype: int64

 1.0     2392
2.0      714
3.0      614
4.0      350
5.0      170
6.0       12
7.0        5
8.0        1
9.0        1
99.0     449
Name: FF_MUSHRO, dtype: int64

 1.0      126
2.0      749
3.0      992
88.0    2392
99.0     449
Name: FA_MUSHRO, dtype: int64

 1.0      328
2.0      303
3.0      512
4.0      537
5.0     2207
6.0      210
7.0      125
8.0       31
9.0        6
99.0     449
Name: FF_LAV, dtype: int64

 1.0      479
2.0     2628
3.0      824
88.0     328
99.0     449
Name: FA_LAV, dtype: int64

 1.0     3288
2.0      530
3.0      283
4.0      123
5.0       33
6.0        2
99.0     449
Name: FF_GLAV, dtype: int64

 1.0      144
2.0      459
3.0      368
88.0    3288
99.0     449
Name: FA_GLAV, dtype: int64

 1.0     3389
2.0      530
3.0      229
4.0       76
5.0       35
99.0     449
Name: FF_F_SWED, dtype: int64

 1.0      114
2.0      406
3.0      350
88.0    3389
99.0     449
Name: FA_F_SWED, dtype: int64

 1.0     2370
2.0      823
3.0      688
4.0      266
5.0      106
6.0        5
7.0        1
99.0     449
Name: FF_F_POTA, dtype: int64

 1.0      124
2.0      703
3.0     2447
88.0     985
99.0     449
Name: FA_F_POTA, dtype: int64

 1.0     3447
2.0      498
3.0      246
4.0       49
5.0       19
99.0     449
Name: FF_S_POTA, dtype: int64

 1.0       52
2.0      349
3.0      411
88.0    3447
99.0     449
Name: FA_S_POTA, dtype: int64

 1.0     2612
2.0      747
3.0      549
4.0      193
5.0      129
6.0       16
7.0       12
9.0        1
99.0     449
Name: FF_SWPOTA, dtype: int64

 1.0       87
2.0      799
3.0      761
88.0    2612
99.0     449
Name: FA_SWPOTA, dtype: int64

 1.0     3268
2.0      633
3.0      273
4.0       71
5.0       12
6.0        2
99.0     449
Name: FF_CORN, dtype: int64

 1.0       81
2.0      559
3.0      351
88.0    3268
99.0     449
Name: FA_CORN, dtype: int64

 1.0     2241
2.0      215
3.0      310
4.0      360
5.0      625
6.0      183
7.0      283
8.0       30
9.0       12
99.0     449
Name: FF_MILK, dtype: int64

 1.0      130
2.0     2830
3.0      443
88.0     856
99.0     449
Name: FA_MILK, dtype: int64

 1.0     2682
2.0      422
3.0      299
88.0     856
99.0     449
Name: FS_MILK, dtype: int64

 1.0     2866
2.0      360
3.0      355
4.0      255
5.0      284
6.0       63
7.0       70
8.0        5
9.0        1
99.0     449
Name: FF_L_YOGU, dtype: int64

 1.0      424
2.0      210
3.0      759
88.0    2866
99.0     449
Name: FA_L_YOGU, dtype: int64

 1.0     2789
2.0      421
3.0      400
4.0      259
5.0      276
6.0       48
7.0       64
8.0        2
99.0     449
Name: FF_C_YOGU, dtype: int64

 1.0       43
2.0     1242
3.0      185
88.0    2789
99.0     449
Name: FA_C_YOGU, dtype: int64

 1.0     3489
2.0      264
3.0      190
4.0      116
5.0      134
6.0       31
7.0       33
8.0        2
99.0     449
Name: FF_BN_MILK, dtype: int64

 1.0       16
2.0      714
3.0       40
88.0    3489
99.0     449
Name: FA_BN_MILK, dtype: int64

 1.0       49
2.0       90
3.0      216
4.0      321
5.0     2293
6.0      272
7.0      758
8.0      215
9.0       45
99.0     449
Name: FS_FRUIT, dtype: int64

 1.0     3723
2.0      536
99.0     449
Name: FS_STRAW, dtype: int64

 1.0      254
2.0      432
3.0      581
4.0      665
5.0     2141
6.0       79
7.0       97
8.0        8
9.0        2
99.0     449
Name: FF_STRAW, dtype: int64

 1.0     3135
3.0      847
4.0      226
5.0       44
6.0        5
7.0        2
99.0     449
Name: FF_STRAW_YR, dtype: int64

 1.0     1086
2.0     2498
3.0      421
88.0     254
99.0     449
Name: FA_STRAW, dtype: int64

 1.0     1351
2.0     2908
99.0     449
Name: FS_TOMATO, dtype: int64

 1.0      467
2.0      418
3.0      581
4.0      506
5.0     1998
6.0      115
7.0      150
8.0       17
9.0        7
99.0     449
Name: FF_TOMATO, dtype: int64

 1.0     2504
2.0      289
3.0      347
4.0      623
5.0      393
6.0       55
7.0       45
8.0        2
9.0        1
99.0     449
Name: FF_TOMATO_YR, dtype: int64

 1.0      861
2.0     2462
3.0      469
88.0     467
99.0     449
Name: FA_TOMATO, dtype: int64

 1.0     3769
2.0      490
99.0     449
Name: FS_MMELON, dtype: int64

 1.0      561
2.0      401
3.0      480
4.0     2010
5.0      607
6.0       64
7.0      113
8.0       18
9.0        5
99.0     449
Name: FF_MMELON, dtype: int64

 1.0     3408
3.0      632
4.0      192
5.0       21
6.0        5
7.0        1
99.0     449
Name: FF_MMELON_YR, dtype: int64

 1.0      672
2.0     2795
3.0      231
88.0     561
99.0     449
Name: FA_MMELON, dtype: int64

 1.0     4018
2.0      241
99.0     449
Name: FS_WMELON, dtype: int64

 1.0      295
2.0      382
3.0      485
4.0      602
5.0     2156
6.0      131
7.0      162
8.0       34
9.0       12
99.0     449
Name: FF_WMELON, dtype: int64

 1.0     3126
3.0      779
4.0      301
5.0       51
7.0        2
99.0     449
Name: FF_WMELON_YR, dtype: int64

 1.0      512
2.0      943
3.0     2509
88.0     295
99.0     449
Name: FA_WMELON, dtype: int64

 1.0     3815
2.0      444
99.0     449
Name: FS_PEACH, dtype: int64

 1.0      534
2.0      402
3.0      480
4.0      573
5.0     1993
6.0       82
7.0      157
8.0       26
9.0       12
99.0     449
Name: FF_PEACH, dtype: int64

 1.0     3362
3.0      614
4.0      243
5.0       38
7.0        1
9.0        1
99.0     449
Name: FF_PEACH_YR, dtype: int64

 1.0      240
2.0     2981
3.0      504
88.0     534
99.0     449
Name: FA_PEACH, dtype: int64

 1.0     3622
2.0      637
99.0     449
Name: FS_GRAPE, dtype: int64

 1.0      421
2.0      389
3.0      492
4.0      606
5.0     2090
6.0      104
7.0      129
8.0       19
9.0        9
99.0     449
Name: FF_GRAPE, dtype: int64

 1.0     3125
3.0      790
4.0      279
5.0       61
6.0        2
7.0        1
8.0        1
99.0     449
Name: FF_GRAPE_YR, dtype: int64

 1.0      436
2.0     2756
3.0      646
88.0     421
99.0     449
Name: FA_GRAPE, dtype: int64

 1.0      831
2.0     3428
99.0     449
Name: FS_APPLE, dtype: int64

 1.0      296
2.0      275
3.0      433
4.0      480
5.0     2186
6.0      257
7.0      300
8.0       24
9.0        8
99.0     449
Name: FF_APPLE, dtype: int64

 1.0     2075
2.0      142
3.0      314
4.0      609
5.0      688
6.0      212
7.0      208
8.0        9
9.0        2
99.0     449
Name: FF_APPLE_YR, dtype: int64

 1.0     1021
2.0     2812
3.0      130
88.0     296
99.0     449
Name: FA_APPLE, dtype: int64

 1.0     2885
2.0     1374
99.0     449
Name: FS_PEAR, dtype: int64

 1.0     2384
2.0      588
3.0      485
4.0      471
5.0      264
6.0       25
7.0       35
8.0        4
9.0        3
99.0     449
Name: FF_PEAR, dtype: int64

 1.0     3315
2.0      388
3.0      142
4.0      294
5.0      102
6.0        9
7.0        9
99.0     449
Name: FF_PEAR_YR, dtype: int64

 1.0      519
2.0      970
3.0      386
88.0    2384
99.0     449
Name: FA_PEAR, dtype: int64

 1.0     3223
2.0     1036
99.0     449
Name: FS_PERS, dtype: int64

 1.0     2303
2.0      423
3.0      421
4.0      425
5.0      445
6.0       85
7.0      122
8.0       24
9.0       11
99.0     449
Name: FF_PERS, dtype: int64

 1.0     3428
3.0      510
4.0      258
5.0       58
6.0        3
7.0        2
99.0     449
Name: FF_PERS_YR, dtype: int64

 1.0      212
2.0     2573
3.0      556
88.0     918
99.0     449
Name: FA_PERS, dtype: int64

 1.0     3859
2.0      400
99.0     449
Name: FS_TANG, dtype: int64

 1.0      170
2.0      165
3.0      344
4.0      403
5.0     2354
6.0      341
7.0      349
8.0       84
9.0       49
99.0     449
Name: FF_TANG, dtype: int64

 1.0      591
2.0      337
3.0       88
4.0     2697
5.0      401
6.0       91
7.0       53
8.0        1
99.0     449

Name: FF_TANG_YR, dtype: int64

 1.0      270
2.0      864
3.0     2955
88.0     170
99.0     449
Name: FA_TANG, dtype: int64

 1.0      192
2.0     4067
99.0     449
Name: FS_BANANA, dtype: int64

 1.0      595
2.0      533
3.0     2027
4.0      547
5.0      425
6.0       72
7.0       58
8.0        2
99.0     449
Name: FF_BANANA, dtype: int64

 1.0     2513
2.0       47
3.0      640
4.0      532
5.0      402
6.0       70
7.0       53
8.0        2
99.0     449
Name: FF_BANANA_YR, dtype: int64

 1.0       96
2.0     3168
3.0      400
88.0     595
99.0     449
Name: FA_BANANA, dtype: int64

 1.0     1160
2.0     3099
99.0     449
Name: FS_CITRUS, dtype: int64

 1.0     2363
2.0      587
3.0      486
4.0      392
5.0      331
6.0       46
7.0       46
8.0        6
9.0        2
99.0     449
Name: FF_CITRUS, dtype: int64

 1.0     3472
3.0      496
4.0      201
5.0       84
6.0        5
7.0        1
99.0     449
Name: FF_CITRUS_YR, dtype: int64

 1.0      345
2.0     2687
3.0      249
88.0     978
99.0     449
Name: FA_CITRUS, dtype: int64

 1.0      630
2.0     3629
99.0     449
Name: FS_KIWI, dtype: int64

 1.0     3105
2.0      553
3.0      288
4.0      196
5.0       92
6.0       12
7.0       13
99.0     449
Name: FF_KIWI, dtype: int64

 1.0     3771
2.0      120
3.0      175
4.0      139
5.0       49
6.0        3
7.0        2
99.0     449
Name: FF_KIWI_YR, dtype: int64

 1.0      658
2.0      398
3.0       98
88.0    3105
99.0     449
Name: FA_KIWI, dtype: int64

 1.0      371
2.0       67
3.0       77
4.0      107
5.0      269
6.0      114
7.0      565
8.0     2091
9.0      598
99.0     449
Name: FF_COFFEE, dtype: int64

 1.0     2928
2.0      353
3.0      607
88.0     371
99.0     449
Name: FA_COFFEE, dtype: int64

 4.0     4560
5.0       91
6.0       15
7.0       13
8.0        5
9.0        9
10.0      11
12.0       1
15.0       2
20.0       1
Name: FS_COFFEE, dtype: int64

 1.0     2522
2.0      124
3.0      131
4.0      166
5.0      228
6.0       52
7.0      380
8.0      332
9.0      324
99.0     449
Name: FF_CREAM, dtype: int64

 1.0     2840
2.0      103
3.0      179
88.0    1137
99.0     449
Name: FA_CREAM, dtype: int64

 1.0     2519
2.0      115
3.0      118
4.0      131
5.0      218
6.0       50
7.0      394
8.0      359
9.0      355
99.0     449
Name: FF_SUGAR, dtype: int64

 1.0     2933
2.0       99
3.0       93
88.0    1134
99.0     449
Name: FA_SUGAR, dtype: int64

 1.0     3443
2.0      207
3.0      185
4.0      125
5.0      185
6.0       26
7.0       64
8.0       17
9.0        7
99.0     449
Name: FF_TEA, dtype: int64

 1.0       77
2.0      549
3.0      190
88.0    3443
99.0     449
Name: FA_TEA, dtype: int64

 1.0     2791
2.0      335
3.0      347
4.0      320
5.0      336
6.0       67
7.0       47
8.0        8
9.0        8
99.0     449
Name: FF_SODA, dtype: int64

 1.0      137
2.0      851
3.0      480
88.0    2791
99.0     449
Name: FA_SODA, dtype: int64

 1.0     3083
2.0      336
3.0      346
4.0      254
5.0      184
6.0       31
7.0       22
8.0        1
9.0        2
99.0     449
Name: FF_FJUICE, dtype: int64

 1.0       82
2.0      732
3.0      362
88.0    3083
99.0     449
Name: FA_FJUICE, dtype: int64

 1.0     3501
2.0      402
3.0      182
4.0       91
5.0       52
6.0       16
7.0       15
99.0     449
Name: FF_GBAVER, dtype: int64

 1.0       34
2.0      511
3.0      213
88.0    3501
99.0     449
Name: FA_GBAVER, dtype: int64

 1.0     2480
2.0      456
3.0      436
4.0      452
5.0      358
6.0       51
7.0       24
8.0        2
99.0     449
Name: FF_SNACK, dtype: int64

 1.0      290
2.0      835
3.0      654
88.0    2480
99.0     449
Name: FA_SNACK, dtype: int64

 1.0     2899
2.0      448
3.0      339
4.0      326
5.0      207
6.0       24
7.0       14
8.0        2
99.0     449
Name: FF_COOKIE, dtype: int64

 1.0      561
2.0      507
3.0      292
88.0    2899
99.0     449
Name: FA_COOKIE, dtype: int64

 1.0     2949
2.0      481
3.0      336
4.0      287
5.0      164
6.0       22
7.0       17
8.0        2
9.0        1
99.0     449
Name: FF_CHOCO, dtype: int64

 1.0      374
2.0      426
3.0      510
88.0    2949
99.0     449
Name: FA_CHOCO, dtype: int64

 1.0     2333
2.0      585
3.0      693
4.0      408
5.0      210
6.0       24
7.0        6
99.0     449
Name: FF_ICECM, dtype: int64

 1.0       48
2.0     3160
3.0      103
88.0     948
99.0     449
Name: FA_ICECM, dtype: int64

 1.0     3280
2.0      443
3.0      272
4.0      122
5.0       90
6.0       24
7.0       28
99.0     449
Name: FF_PEANUT, dtype: int64

 1.0      228
2.0      427
3.0      324
88.0    3280
99.0     449
Name: FA_PEANUT, dtype: int64

 1.0     3462
2.0      555
3.0      187
4.0       38
5.0       10
6.0        4
7.0        3
99.0     449
Name: FF_CHNUT, dtype: int64

 1.0       30
2.0      218
3.0      549
88.0    3462
99.0     449
Name: FA_CHNUT, dtype: int64

 1.0     2933
2.0      343
3.0      297
4.0      221
5.0      374
6.0       52
7.0       36
8.0        2
9.0        1
99.0     449
Name: FF_SOJU, dtype: int64

 1.0      192
2.0      313
3.0      500
4.0      321
88.0    2933
99.0     449
Name: FA_SOJU, dtype: int64

 1.5     102
1.8       1
2.0    4558
2.5      24
3.0      20
3.5       2
5.0       1
Name: FS_SOJU, dtype: int64

 1.0     2796
2.0      372
3.0      392
4.0      301
5.0      339
6.0       39
7.0       19
8.0        1
99.0     449
Name: FF_BEER, dtype: int64

 1.0       23
2.0      161
3.0      350
4.0      929
88.0    2796
99.0     449
Name: FA_BEER, dtype: int64

 1.0     3823
2.0      218
3.0      111
4.0       53
5.0       46
6.0        4
7.0        4
99.0     449
Name: FF_RWINE, dtype: int64

 1.0       16
2.0       70
3.0      129
4.0      221
88.0    3823
99.0     449
Name: FA_RWINE, dtype: int64

 0.000000      182
0.232558      156
0.581395      327
1.000000      262
3.000000      453
5.500000      256
7.000000      556
14.000000    2407
21.000000     109
Name: FQ_RICE, dtype: int64

 0.000000      316
0.232558       95
0.581395      152
1.000000      139
3.000000      268
5.500000       93
7.000000      666
14.000000    2708
21.000000     271
Name: FQ_BARLEY, dtype: int64

 0.000000     779
0.232558     578
0.581395    2616
1.000000     500
3.000000     228
5.500000       5
7.000000       2
Name: FQ_BIBIM, dtype: int64

 0.000000     2831
0.232558      759
0.581395      678
1.000000      299
3.000000      129
5.500000        7
7.000000        3
14.000000       2
Name: FQ_GIMBAB, dtype: int64

 0.000000    3253
0.232558     870
0.581395     483
1.000000      85
3.000000      16
7.000000       1
Name: FQ_CURRY, dtype: int64

 0.000000     527
0.232558     335
0.581395    2552
1.000000     631
3.000000     607
5.500000      50
7.000000       6
Name: FQ_INSTNO, dtype: int64

 0.000000    2701
0.232558     713
0.581395     730
1.000000     393
3.000000     163
5.500000       4
7.000000       4
Name: FQ_WHNO, dtype: int64

 0.000000    2825
0.232558     902
0.581395     714
1.000000     226
3.000000      39
5.500000       1
7.000000       1
Name: FQ_CHNO, dtype: int64

 0.000000    3840
0.232558     627
0.581395     204
1.000000      27
3.000000       9
7.000000       1
Name: FQ_BUNO, dtype: int64

 0.000000    3914
0.232558     564
0.581395     189
1.000000      36
3.000000       5
Name: FQ_S_RCAK, dtype: int64

 0.000000    3205
0.232558     806
0.581395     503
1.000000     140
3.000000      52
5.500000       2
Name: FQ_DUMP, dtype: int64

 0.000000    3493
0.232558     496
0.581395     358
1.000000     204
3.000000     129
5.500000      18
7.000000      10
Name: FQ_BRE, dtype: int64

 0.000000    4459
0.232558      96
0.581395      65
1.000000      49
3.000000      35
5.500000       3
7.000000       1
Name: FQ_BUTTER, dtype: int64

 0.000000    3992
0.232558     332
0.581395     189
1.000000     119
3.000000      63
5.500000       7
7.000000       6
Name: FQ_JAM, dtype: int64

 0.000000    3537
0.232558     605
0.581395     365
1.000000     127
3.000000      67
5.500000       6
7.000000       1
Name: FQ_RB_BRE, dtype: int64

 0.000000     3479
0.232558      653
0.581395      354
1.000000      133
3.000000       76
5.500000        9
7.000000        3
14.000000       1
Name: FQ_CAKE, dtype: int64

 0.000000    3305
0.232558     990
0.581395     348
1.000000      51
3.000000      14
Name: FQ_PIZZA, dtype: int64

 0.000000    3235
0.232558     757
0.581395     499
1.000000     152
3.000000      59
5.500000       5
7.000000       1
Name: FQ_HAMBER, dtype: int64

 0.000000    3754
0.232558     601
0.581395     230
1.000000      76
3.000000      38
5.500000       8
7.000000       1
Name: FQ_RCAK, dtype: int64

 0.000000    3191
0.232558     759
0.581395     517
1.000000     183
3.000000      56
5.500000       2
Name: FQ_F_RCAK, dtype: int64

 0.000000    4083
0.232558     227
0.581395     162
1.000000     107
3.000000     104
5.500000      16
7.000000       9
Name: FQ_CEREAL, dtype: int64

 0.000000    3300
0.232558     829
0.581395     434
1.000000     106
3.000000      37
5.500000       1
7.000000       1
Name: FQ_T_BEEF, dtype: int64

 0.000000    3686
0.232558     767
0.581395     216
1.000000      33
3.000000       6
Name: FQ_T_POTA, dtype: int64

 0.000000    4118
0.232558     439
0.581395     131
1.000000      19
3.000000       1
Name: FQ_T_LOAC, dtype: int64

 0.000000    3700
0.232558     738
0.581395     220
1.000000      40
3.000000      10
Name: FQ_J_POLL, dtype: int64

 0.000000      632
0.232558     2779
0.581395      909
1.000000      281
3.000000       96
5.500000        8
7.000000        2
14.000000       1
Name: FQ_S_SWED, dtype: int64

 0.000000    2791
0.232558     915
0.581395     745
1.000000     196
3.000000      59
5.500000       2
Name: FQ_S_BEEF, dtype: int64

 0.000000    3739
0.232558     577
0.581395     295
1.000000      84
3.000000      11
5.500000       2
Name: FQ_S_POLL, dtype: int64

 0.000000      715
0.232558      573
0.581395     2567
1.000000      434
3.000000      380
5.500000       36
7.000000        2
14.000000       1
Name: FQ_S_SOYP, dtype: int64

 0.000000     375
0.232558     549
0.581395    2721
1.000000     533
3.000000     491
5.500000      31
7.000000       8
Name: FQ_J_SOYP, dtype: int64

 0.000000     293
0.232558     525
0.581395    2835
1.000000     612
3.000000     425
5.500000      16
7.000000       2
Name: FQ_J_KIMC, dtype: int64

 0.000000    3724
0.232558     615
0.581395     272
1.000000      80
3.000000      17
Name: FQ_J_BUDA, dtype: int64

 0.000000    3094
0.232558     832
0.581395     504
1.000000     213
3.000000      60
5.500000       5
Name: FQ_J_BNCD, dtype: int64

 0.000000     2601
0.232558      744
0.581395      695
1.000000      381
3.000000      262
5.500000       16
7.000000        8
21.000000       1
Name: FQ_BNCURD, dtype: int64

 0.000000     3796
0.232558      436
0.581395      210
1.000000      111
3.000000      111
5.500000       22
7.000000       17
14.000000       2
21.000000       3
Name: FQ_S_BEAN, dtype: int64

 0.000000      206
0.232558      270
0.581395      543
1.000000      545
3.000000     2778
5.500000      235
7.000000      124
14.000000       6
21.000000       1
Name: FQ_F_EGG, dtype: int64

 0.000000     2691
0.232558      580
0.581395      577
1.000000      438
3.000000      324
5.500000       45
7.000000       51
14.000000       2
Name: FQ_S_EGG, dtype: int64

 0.000000     425
0.232558     695
0.581395    2771
1.000000     563
3.000000     246
5.500000       8
Name: FQ_R_PORK, dtype: int64

 0.000000    3261
0.232558     969
0.581395     331
1.000000     112
3.000000      30
5.500000       3
7.000000       2
Name: FQ_S_PORK, dtype: int64

 0.000000     711
0.232558    2811
0.581395     741
1.000000     318
3.000000     120
5.500000       7
Name: FQ_F_PORK, dtype: int64

 0.000000    3009
0.232558     895
0.581395     530
1.000000     220
3.000000      52
5.500000       2
Name: FQ_C_PORK, dtype: int64

 0.000000    3148
0.232558     947
0.581395     417
1.000000     156
3.000000      40
Name: FQ_R_BEEF, dtype: int64

 0.000000    3225
0.232558     994
0.581395     369
1.000000     100
3.000000      19
7.000000       1
Name: FQ_F_BEEF, dtype: int64

 0.000000    3371
0.232558     530
0.581395     419
1.000000     239
3.000000     141
5.500000       7
7.000000       1
Name: FQ_HAM, dtype: int64

 0.000000    3618
0.232558     762
0.581395     257
1.000000      59
3.000000      12
Name: FQ_PORKBY, dtype: int64

 0.000000    3742
0.232558     792
0.581395     158
1.000000      14
3.000000       2
Name: FQ_T_CHIC, dtype: int64

 0.000000    1134
0.232558    3029
0.581395     441
1.000000      85
3.000000      19
Name: FQ_S_CHIC, dtype: int64

 0.000000     672
0.232558    2807
0.581395     809
1.000000     334
3.000000      80
5.500000       6
Name: FQ_F_CHIC, dtype: int64

 0.000000    3870
0.232558     644
0.581395     154
1.000000      30
3.000000       9
5.500000       1
Name: FQ_R_DUCK, dtype: int64

 0.000000    2825
0.232558     897
0.581395     656
1.000000     228
3.000000      96
5.500000       4
7.000000       2
Name: FQ_MACKER, dtype: int64

 0.000000    3324
0.232558     779
0.581395     416
1.000000     142
3.000000      44
5.500000       1
7.000000       2
Name: FQ_HAIRT, dtype: int64

 0.000000     2484
0.232558      498
0.581395      544
1.000000      403
3.000000      532
5.500000      142
7.000000       84
14.000000      16
21.000000       5
Name: FQ_ANCH, dtype: int64

 0.000000    2941
0.232558     796
0.581395     566
1.000000     251
3.000000     136
5.500000      13
7.000000       5
Name: FQ_SQUID, dtype: int64

 0.000000    4360
0.232558     276
0.581395      51
1.000000      17
3.000000       2
5.500000       2
Name: FQ_SCRAB, dtype: int64

 0.000000     3964
0.232558      379
0.581395      227
1.000000       77
3.000000       50
5.500000        6
7.000000        3
21.000000       2
Name: FQ_SFISH, dtype: int64

 0.000000    2809
0.232558     823
0.581395     702
1.000000     268
3.000000      99
5.500000       6
7.000000       1
Name: FQ_FPASTE, dtype: int64

 0.000000     407
0.232558     599
0.581395    2802
1.000000     541
3.000000     321
5.500000      34
7.000000       4
Name: FQ_SPROU, dtype: int64

 0.000000    2847
0.232558     774
0.581395     636
1.000000     302
3.000000     134
5.500000      13
7.000000       2
Name: FQ_SPINAC, dtype: int64

 0.000000    3760
0.232558     549
0.581395     271
1.000000      98
3.000000      30
Name: FQ_BELLFI, dtype: int64

 0.000000    3057
0.232558     749
0.581395     567
1.000000     228
3.000000      98
5.500000       5
7.000000       4
Name: FQ_PUMPKI, dtype: int64

 0.000000     2585
0.232558      665
0.581395      658
1.000000      349
3.000000      346
5.500000       70
7.000000       33
14.000000       2
Name: FQ_OVEG, dtype: int64

 0.000000     736
0.232558     646
0.581395    2590
1.000000     452
3.000000     251
5.500000      22
7.000000      11
Name: FQ_CUCUMB, dtype: int64

 0.000000     2642
0.232558      705
0.581395      706
1.000000      375
3.000000      247
5.500000       22
7.000000       10
14.000000       1
Name: FQ_RADI, dtype: int64

 0.000000    2793
0.232558     547
0.581395     578
1.000000     369
3.000000     332
5.500000      65
7.000000      24
Name: FQ_VSALAD, dtype: int64

 0.000000      755
0.232558      726
0.581395     2641
1.000000      392
3.000000      181
5.500000        9
7.000000        3
14.000000       1
Name: FQ_GREENO, dtype: int64

 0.000000      200
0.232558      470
0.581395     2820
1.000000      671
3.000000      481
5.500000       49
7.000000       15
14.000000       2
Name: FQ_RAWVEG, dtype: int64

 0.000000     3136
0.232558      732
0.581395      440
1.000000      242
3.000000      132
5.500000       16
7.000000        9
21.000000       1
Name: FQ_BROCOL, dtype: int64

 0.000000     2828
0.232558      511
0.581395      693
1.000000      352
3.000000      261
5.500000       37
7.000000       23
14.000000       3
Name: FQ_GARLIC, dtype: int64

 0.000000      196
0.232558      348
0.581395     2749
1.000000      636
3.000000      661
5.500000       80
7.000000       30
14.000000       7
21.000000       1
Name: FQ_FER_BN, dtype: int64

 0.000000       72
0.232558       41
0.581395       83
1.000000      123
3.000000      477
5.500000      170
7.000000      635
14.000000    2726
21.000000     381
Name: FQ_KIMCHI, dtype: int64

 0.000000      407
0.232558      203
0.581395      307
1.000000      409
3.000000     2518
5.500000      145
7.000000      434
14.000000     206
21.000000      79

Name: FQ_OKIMCH, dtype: int64

 0.000000     2841
0.232558      418
0.581395      495
1.000000      398
3.000000      363
5.500000       66
7.000000      100
14.000000      19
21.000000       8
Name: FQ_SVEG, dtype: int64

 0.000000     3556
0.232558      497
0.581395      361
1.000000      177
3.000000       88
5.500000       20
7.000000        7
14.000000       2
Name: FQ_ROOT, dtype: int64

 0.000000    2886
0.232558     964
0.581395     580
1.000000     207
3.000000      70
5.500000       1
Name: FQ_PCAKE, dtype: int64

 0.000000    3542
0.232558     842
0.581395     267
1.000000      50
3.000000       7
Name: FQ_F_VEG, dtype: int64

 0.000000     2841
0.232558      714
0.581395      614
1.000000      350
3.000000      170
5.500000       12
7.000000        5
14.000000       1
21.000000       1
Name: FQ_MUSHRO, dtype: int64

 0.000000      328
0.232558      303
0.581395      512
1.000000      537
3.000000     2656
5.500000      210
7.000000      125
14.000000      31
21.000000       6
Name: FQ_LAV, dtype: int64

 0.000000    3737
0.232558     530
0.581395     283
1.000000     123
3.000000      33
5.500000       2
Name: FQ_GLAV, dtype: int64

 0.000000    3838
0.232558     530
0.581395     229
1.000000      76
3.000000      35
Name: FQ_F_SWED, dtype: int64

 0.000000    2819
0.232558     823
0.581395     688
1.000000     266
3.000000     106
5.500000       5
7.000000       1
Name: FQ_F_POTA, dtype: int64

 0.000000    3896
0.232558     498
0.581395     246
1.000000      49
3.000000      19
Name: FQ_S_POTA, dtype: int64

 0.000000     3061
0.232558      747
0.581395      549
1.000000      193
3.000000      129
5.500000       16
7.000000       12
21.000000       1
Name: FQ_SWPOTA, dtype: int64

 0.000000    3717
0.232558     633
0.581395     273
1.000000      71
3.000000      12
5.500000       2
Name: FQ_CORN, dtype: int64

 0.000000     2690
0.232558      215
0.581395      310
1.000000      360
3.000000      625
5.500000      183
7.000000      283
14.000000      30
21.000000      12
Name: FQ_MILK, dtype: int64

 0.000000     3315
0.232558      360
0.581395      355
1.000000      255
3.000000      284
5.500000       63
7.000000       70
14.000000       5
21.000000       1
Name: FQ_L_YOGU, dtype: int64

 0.000000     3238
0.232558      421
0.581395      400
1.000000      259
3.000000      276
5.500000       48
7.000000       64
14.000000       2
Name: FQ_C_YOGU, dtype: int64

 0.000000     3938
0.232558      264
0.581395      190
1.000000      116
3.000000      134
5.500000       31
7.000000       33
14.000000       2
Name: FQ_BN_MILK, dtype: int64

 0.000000    3428
0.232558     156
0.581395     127
0.607500     720
1.000000      55
1.113750      76
1.417500      95
2.835000       8
3.000000      36
4.252500       2
5.500000       3
7.000000       2
Name: FQ_STRAW, dtype: int64

 0.000000     2696
0.232558      257
0.365833      289
0.581395      347
1.000000      217
1.097500      406
2.012083       75
2.560833      111
3.000000      207
5.121667       15
5.500000       40
7.000000       39
7.682500        6
14.000000       2
21.000000       1
Name: FQ_TOMATO, dtype: int64

 0.000000    3810
0.232558      47
0.581395      28
0.682500     604
1.000000      16
1.251250      64
1.592500     112
3.000000       3
3.185000      18
4.777500       5
7.000000       1
Name: FQ_MMELON, dtype: int64

 0.000000    3553
0.232558      22
0.572500     766
0.581395      13
1.000000      10
1.049583     131
1.335833     160
2.671667      34
3.000000       5
4.007500      12
7.000000       2
Name: FQ_WMELON, dtype: int64

 0.000000     3780
0.232558       31
0.520000      607
0.581395        7
0.953333       82
1.000000        5
1.213333      156
2.426667       26
3.000000        1
3.640000       11
7.000000        1
21.000000       1
Name: FQ_PEACH, dtype: int64

 0.000000     3472
0.232558      102
0.552500      671
0.581395      119
1.000000       49
1.012917      102
1.289167      128
2.578333       18
3.000000       34
3.867500        9
5.500000        2
7.000000        1
14.000000       1
Name: FQ_GRAPE, dtype: int64

 0.000000      499
0.232558      191
0.375833      142
0.581395      314
1.000000      338
1.127500      271
2.067083       60
2.630833       98
3.000000     2364
5.261667       15
5.500000      197
7.000000      202
7.892500        6
14.000000       9
21.000000       2
Name: FQ_APPLE, dtype: int64

 0.000000    3211
0.232558     553
0.400000     388
0.581395     142
1.000000      83
1.200000     211
2.200000      20
2.800000      29
3.000000      53
5.500000       5
5.600000       4
7.000000       6
8.400000       3
Name: FQ_PEAR, dtype: int64

 0.000000    3761
0.232558     116
0.495000     422
0.581395      88
0.907500      82
1.000000      56
1.155000     120
2.310000      24
3.000000      23
3.465000      11
5.500000       3
7.000000       2
Name: FQ_PERS, dtype: int64

 0.000000      541
0.232558       50
0.315833      337
0.581395       88
0.947500     2747
1.000000       66
1.737083      333
2.210833      345
3.000000       56
4.421667       83
5.500000        8
6.632500       49
7.000000        4
14.000000       1
Name: FQ_TANG, dtype: int64

 0.000000     2474
0.232558      488
0.254360       47
0.437500       45
0.581395      595
1.000000      502
1.312500       30
2.406250        2
3.000000      395
3.062500        5
5.500000       70
7.000000       53
14.000000       2
Name: FQ_BANANA, dtype: int64

 0.000000    3563
0.232558     358
0.581395     243
0.677500     253
1.000000     113
1.242083      43
1.580833      45
3.000000      78
3.161667       6
4.742500       2
5.500000       3
7.000000       1
Name: FQ_CITRUS, dtype: int64

 0.000000    3877
0.232558     343
0.286667     120
0.581395     175
0.860000      54
1.000000      76
1.576667       9
2.006667      11
3.000000      38
5.500000       3
7.000000       2
Name: FQ_KIWI, dtype: int64

 0.000000       371
0.232558        67
0.581395        77
1.000000       107
3.000000       269
5.500000       114
7.000000       565
14.000000     2540
21.000000      334
28.000000      116
35.000000       91
42.000000       15
49.000000       13
56.000000        5
63.000000        9
70.000000       11
84.000000        1
105.000000       2
140.000000       1
Name: FQ_COFFEE, dtype: int64

 0.000000      2971
0.232558       124
0.581395       131
1.000000       166
3.000000       228
5.500000        52
7.000000       380
14.000000      332
21.000000      166
28.000000       65
35.000000       52
42.000000       10
49.000000        9
56.000000        4
63.000000        8
70.000000        7
84.000000        1
105.000000       2
Name: FQ_CREAM, dtype: int64

 0.000000      2968
0.232558       115
0.581395       118
1.000000       131
3.000000       218
5.500000        50
7.000000       394
14.000000      359
21.000000      184
28.000000       70
35.000000       57
42.000000       10
49.000000       10
56.000000        4
63.000000        7
70.000000        9
84.000000        1
105.000000       2
140.000000       1
Name: FQ_SUGAR, dtype: int64

 0.000000     3892
0.232558      207
0.581395      185
1.000000      125
3.000000      185
5.500000       26
7.000000       64
14.000000      17
21.000000       7
Name: FQ_TEA, dtype: int64

 0.000000     3240
0.232558      335
0.581395      347
1.000000      320
3.000000      336
5.500000       67
7.000000       47
14.000000       8
21.000000       8
Name: FQ_SODA, dtype: int64

 0.000000     3532
0.232558      336
0.581395      346
1.000000      254
3.000000      184
5.500000       31
7.000000       22
14.000000       1
21.000000       2
Name: FQ_FJUICE, dtype: int64

 0.000000    3950
0.232558     402
0.581395     182
1.000000      91
3.000000      52
5.500000      16
7.000000      15
Name: FQ_GBAVER, dtype: int64

 0.000000     2929
0.232558      456
0.581395      436
1.000000      452
3.000000      358
5.500000       51
7.000000       24
14.000000       2
Name: FQ_SNACK, dtype: int64

 0.000000     3348
0.232558      448
0.581395      339
1.000000      326
3.000000      207
5.500000       24
7.000000       14
14.000000       2
Name: FQ_COOKIE, dtype: int64

 0.000000     3398
0.232558      481
0.581395      336
1.000000      287
3.000000      164
5.500000       22
7.000000       17
14.000000       2
21.000000       1

Name: FQ_CHOCO, dtype: int64

 0.000000    2782
0.232558     585
0.581395     693
1.000000     408
3.000000     210
5.500000      24
7.000000       6
Name: FQ_ICECM, dtype: int64

 0.000000    3729
0.232558     443
0.581395     272
1.000000     122
3.000000      90
5.500000      24
7.000000      28
Name: FQ_PEANUT, dtype: int64

 0.000000    3911
0.232558     555
0.581395     187
1.000000      38
3.000000      10
5.500000       4
7.000000       3
Name: FQ_CHNUT, dtype: int64

 0.000000     3382
0.232558      343
0.581395      297
1.000000      221
3.000000      374
5.500000       52
7.000000       36
14.000000       2
21.000000       1
Name: FQ_SOJU, dtype: int64

 0.000000     3245
0.232558      372
0.581395      392
1.000000      301
3.000000      339
5.500000       39
7.000000       19
14.000000       1
Name: FQ_BEER, dtype: int64

 0.000000    4272
0.232558     218
0.581395     111
1.000000      53
3.000000      46
5.500000       4
7.000000       4
Name: FQ_RWINE, dtype: int64

820