# 라이브러리

In [212]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib notebook
#import seaborn as sns

from sklearn.impute import SimpleImputer
#from sklearn.preprocessing import Imputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import tree

from sklearn.model_selection import train_test_split

import graphviz

import time

# Load data
 - HN16_ALL.sas7bdat : 설문지 데이터

In [3]:
df_data = pd.read_sas("./HN16_ALL.sas7bdat", format = 'sas7bdat', encoding='iso-8859-1')
print(df_data.shape)
df_data.head()

(8150, 768)

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_VA_RAE,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,LF_secur_y,LF_BUYER,LF_SAFE
0,2018.02.01.,A651172801,A6511728,2016.0,1.0,1.0,2.0,A651,1.0,61.0,...,68.125541,817.506495,0.000000,1.812120,1.599025,17.241284,417.773500,1.0,1.0,1.0
1,2018.02.01.,A651172802,A6511728,2016.0,1.0,1.0,2.0,A651,2.0,57.0,...,91.302698,1095.561039,0.005945,1.075103,0.756771,5.302599,31.845311,1.0,1.0,1.0
2,2018.02.01.,A651183001,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,41.0,...,261.852637,2147.567940,82.888642,1.093273,0.939505,16.655787,29.051934,1.0,2.0,2.0
3,2018.02.01.,A651183002,A6511830,2016.0,1.0,1.0,2.0,A651,1.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018.02.01.,A651183003,A6511830,2016.0,1.0,1.0,2.0,A651,2.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 데이터 전처리

In [179]:
df_data_cut = pd.DataFrame(df_data, columns=[
    df_data.HE_HP.name ,
    df_data.region.name ,
    df_data.sex.name ,
    df_data.age.name ,
    df_data.incm.name ,
    df_data.ho_incm.name ,
    df_data.edu.name ,
    df_data.occp.name ,
    df_data.cfam.name ,
    df_data.allownc.name ,
    df_data.house.name ,
    df_data.live_t.name ,
    df_data.ainc.name ,
    df_data.marri_1.name ,
    df_data.marri_2.name ,
    df_data.tins.name ,
    df_data.npins.name ,
    df_data.educ.name ,
    df_data.graduat.name ,
    df_data.EC1_1.name ,
    df_data.EC1_2.name ,
    df_data.EC_occp.name ,
    df_data.EC_stt_1.name ,
    df_data.EC_stt_2.name ,
    df_data.EC_wh.name ,
    df_data.EC_wht_0.name ,
    df_data.EC_wht_23.name ,
    df_data.EC_wht_5.name ,
    df_data.EC_lgw_2.name ,
    df_data.EC_lgw_4.name ,
    df_data.EC_lgw_5.name ,
    df_data.EC_pedu_1.name ,
    df_data.EC_pedu_2.name
])
total_column_count = df_data_cut.columns.size
print(total_column_count)
print(df_data_cut.shape)
df_data_cut.head()

33
(8150, 33)

,HE_HP,region,sex,age,incm,ho_incm,edu,occp,cfam,allownc,...,EC_stt_2,EC_wh,EC_wht_0,EC_wht_23,EC_wht_5,EC_lgw_2,EC_lgw_4,EC_lgw_5,EC_pedu_1,EC_pedu_2
0,3.0,1.0,1.0,61.0,3.0,3.0,4.0,7.0,3.0,20.0,...,8.0,8.0,8.0,888.0,88.0,3.0,1.0,1.0,3.0,3.0
1,2.0,1.0,2.0,57.0,3.0,3.0,4.0,6.0,3.0,20.0,...,2.0,1.0,2.0,50.0,1.0,3.0,1.0,1.0,3.0,3.0
2,1.0,1.0,2.0,41.0,3.0,3.0,4.0,1.0,5.0,20.0,...,2.0,2.0,2.0,24.0,1.0,2.0,1.0,1.0,8.0,5.0
3,3.0,1.0,1.0,39.0,3.0,3.0,4.0,3.0,5.0,20.0,...,1.0,1.0,1.0,61.0,1.0,5.0,1.0,1.0,8.0,5.0
4,1.0,1.0,2.0,38.0,3.0,3.0,4.0,7.0,5.0,20.0,...,8.0,8.0,8.0,888.0,88.0,3.0,1.0,1.0,5.0,5.0

## 고혈압 유병여부 NaN값 대상 삭제

In [136]:
df_data_cut.dropna(subset=['HE_HP'], inplace=True)
df_data_cut.shape

(6105, 33)

## 모든 값이 NaN인 경우 삭제

In [137]:
df_data_cut.dropna(how='all', inplace=True)
df_data_cut.reindex()
print(df_data_cut.shape)
df_data_cut.head()

(6105, 33)

,HE_HP,region,sex,age,incm,ho_incm,edu,occp,cfam,allownc,...,EC_stt_2,EC_wh,EC_wht_0,EC_wht_23,EC_wht_5,EC_lgw_2,EC_lgw_4,EC_lgw_5,EC_pedu_1,EC_pedu_2
0,3.0,1.0,1.0,61.0,3.0,3.0,4.0,7.0,3.0,20.0,...,8.0,8.0,8.0,888.0,88.0,3.0,1.0,1.0,3.0,3.0
1,2.0,1.0,2.0,57.0,3.0,3.0,4.0,6.0,3.0,20.0,...,2.0,1.0,2.0,50.0,1.0,3.0,1.0,1.0,3.0,3.0
2,1.0,1.0,2.0,41.0,3.0,3.0,4.0,1.0,5.0,20.0,...,2.0,2.0,2.0,24.0,1.0,2.0,1.0,1.0,8.0,5.0
3,3.0,1.0,1.0,39.0,3.0,3.0,4.0,3.0,5.0,20.0,...,1.0,1.0,1.0,61.0,1.0,5.0,1.0,1.0,8.0,5.0
4,1.0,1.0,2.0,38.0,3.0,3.0,4.0,7.0,5.0,20.0,...,8.0,8.0,8.0,888.0,88.0,3.0,1.0,1.0,5.0,5.0

## 특정 value 값을 NaN 처리

In [154]:
def setNanValues(in_df, name, nan_values) :
    
    start_na_count = in_df[name].isna().sum()
    
    uniq_values = sorted(map(float,in_df[name].dropna().unique()))
    
    in_df[name] = in_df[name].map(lambda x: np.nan if x in nan_values else x)
        
    #print(sorted(map(float,in_df[name].dropna().unique())))
        
    end_na_count = in_df[name].isna().sum()
    
    print("%s NaN count %s -> %s" % (name,start_na_count,end_na_count))
    
    return in_df

nan_df_data = df_data_cut.copy(deep=True)
nan_df_data = setNanValues(nan_df_data, nan_df_data.marri_1.name, [9.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.marri_2.name, [88.0, 99.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.EC_pedu_1.name, [88.0, 99.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.EC_pedu_2.name, [88.0, 99.0])
print(nan_df_data.shape)
nan_df_data.columns

marri_1 NaN count 0 -> 0
marri_2 NaN count 0 -> 941
EC_pedu_1 NaN count 0 -> 1042
EC_pedu_2 NaN count 0 -> 890
(6105, 33)

Index(['HE_HP', 'region', 'sex', 'age', 'incm', 'ho_incm', 'edu', 'occp',
       'cfam', 'allownc', 'house', 'live_t', 'ainc', 'marri_1', 'marri_2',
       'tins', 'npins', 'educ', 'graduat', 'EC1_1', 'EC1_2', 'EC_occp',
       'EC_stt_1', 'EC_stt_2', 'EC_wh', 'EC_wht_0', 'EC_wht_23', 'EC_wht_5',
       'EC_lgw_2', 'EC_lgw_4', 'EC_lgw_5', 'EC_pedu_1', 'EC_pedu_2'],
      dtype='object')

## NaN 값 처리

In [155]:
'''
strategy = mean, median, most_frequent, constant
'''
def setNanImputer(in_df, name, strategy="mean") :
    
    tmp_df = pd.DataFrame(in_df[name], columns=[name])
    
    imp = SimpleImputer(missing_values=np.nan, strategy=strategy)
    in_df[name] = imp.fit_transform(tmp_df)
        
    print('%s null count %s, na count %s' % (name, in_df[name].isnull().sum(), in_df[name].isna().sum()))
    
    return in_df


imp_df = nan_df_data.copy(deep=True)

imputer_infos = [
      ['ainc', 'mean']
]

for name, strategy in imputer_infos :
    imp_df = setNanImputer(imp_df, name, strategy=strategy)

ainc null count 0, na count 0

## One-Hot Encoding

In [168]:
def addOneHotEncodingColumns(in_df, name) :
    
    uniq_values = sorted(map(float,in_df[name].dropna().unique()))
    
    dummie = pd.get_dummies(in_df[name], dummy_na=True)
    dummie.columns=['%s_ONE_%s' % (name,str(n)) for n in uniq_values] + ['%s_ONE_NaN' % name]
    
    one_hot_df = pd.concat([in_df,dummie],axis=1)    
    one_hot_df.drop(columns=[name], inplace=True)
    
    return one_hot_df

one_hot_df = imp_df.copy(deep=True)
print(one_host_df.shape)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.region.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.incm.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.ho_incm.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.edu.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.occp.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.EC_pedu_1.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.EC_pedu_2.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.marri_1.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.marri_2.name)
print(one_hot_df.shape)
print(one_hot_df.columns)
one_hot_df.tail()

(6105, 92)
(6105, 92)
Index(['HE_HP', 'sex', 'age', 'cfam', 'allownc', 'house', 'live_t', 'ainc',
       'tins', 'npins', 'educ', 'graduat', 'EC1_1', 'EC1_2', 'EC_occp',
       'EC_stt_1', 'EC_stt_2', 'EC_wh', 'EC_wht_0', 'EC_wht_23', 'EC_wht_5',
       'EC_lgw_2', 'EC_lgw_4', 'EC_lgw_5', 'region_ONE_1.0', 'region_ONE_2.0',
       'region_ONE_3.0', 'region_ONE_4.0', 'region_ONE_5.0', 'region_ONE_6.0',
       'region_ONE_7.0', 'region_ONE_8.0', 'region_ONE_9.0', 'region_ONE_10.0',
       'region_ONE_11.0', 'region_ONE_12.0', 'region_ONE_13.0',
       'region_ONE_14.0', 'region_ONE_15.0', 'region_ONE_16.0',
       'region_ONE_17.0', 'region_ONE_NaN', 'incm_ONE_1.0', 'incm_ONE_2.0',
       'incm_ONE_3.0', 'incm_ONE_4.0', 'incm_ONE_NaN', 'ho_incm_ONE_1.0',
       'ho_incm_ONE_2.0', 'ho_incm_ONE_3.0', 'ho_incm_ONE_4.0',
       'ho_incm_ONE_NaN', 'edu_ONE_1.0', 'edu_ONE_2.0', 'edu_ONE_3.0',
       'edu_ONE_4.0', 'edu_ONE_NaN', 'occp_ONE_1.0', 'occp_ONE_2.0',
       'occp_ONE_3.0', 'occp_ONE_4.0', 'occp_ONE_5.0', 'occp_ONE_6.0',
       'occp_ONE_7.0', 'occp_ONE_NaN', 'EC_pedu_1_ONE_1.0',
       'EC_pedu_1_ONE_2.0', 'EC_pedu_1_ONE_3.0', 'EC_pedu_1_ONE_4.0',
       'EC_pedu_1_ONE_5.0', 'EC_pedu_1_ONE_6.0', 'EC_pedu_1_ONE_7.0',
       'EC_pedu_1_ONE_8.0', 'EC_pedu_1_ONE_NaN', 'EC_pedu_2_ONE_1.0',
       'EC_pedu_2_ONE_2.0', 'EC_pedu_2_ONE_3.0', 'EC_pedu_2_ONE_4.0',
       'EC_pedu_2_ONE_5.0', 'EC_pedu_2_ONE_6.0', 'EC_pedu_2_ONE_7.0',
       'EC_pedu_2_ONE_8.0', 'EC_pedu_2_ONE_NaN', 'marri_1_ONE_1.0',
       'marri_1_ONE_2.0', 'marri_1_ONE_NaN', 'marri_2_ONE_1.0',
       'marri_2_ONE_2.0', 'marri_2_ONE_3.0', 'marri_2_ONE_4.0',
       'marri_2_ONE_9.0', 'marri_2_ONE_NaN'],
      dtype='object')

,HE_HP,sex,age,cfam,allownc,house,live_t,ainc,tins,npins,...,EC_pedu_2_ONE_NaN,marri_1_ONE_1.0,marri_1_ONE_2.0,marri_1_ONE_NaN,marri_2_ONE_1.0,marri_2_ONE_2.0,marri_2_ONE_3.0,marri_2_ONE_4.0,marri_2_ONE_9.0,marri_2_ONE_NaN
8145,3.0,1.0,75.0,3.0,10.0,2.0,2.0,150.0,20.0,2.0,...,1,1,0,0,1,0,0,0,0,0
8146,3.0,2.0,72.0,3.0,10.0,2.0,2.0,150.0,20.0,2.0,...,0,1,0,0,1,0,0,0,0,0
8147,1.0,2.0,54.0,4.0,20.0,3.0,2.0,1000.0,20.0,1.0,...,0,1,0,0,1,0,0,0,0,0
8148,3.0,1.0,56.0,4.0,20.0,3.0,2.0,1000.0,20.0,1.0,...,0,1,0,0,1,0,0,0,0,0
8149,1.0,2.0,28.0,4.0,20.0,3.0,2.0,1000.0,20.0,1.0,...,0,0,1,0,0,0,0,0,0,1

## 결측치가 하나 이상 있는 컬럼 확인

In [169]:
nan_names = one_hot_df.columns[one_hot_df.isna().any()]
nan_names

Index([], dtype='object')

In [173]:
for index, name in enumerate(nan_names) :
    value_count = pd.value_counts(one_hot_df[name], dropna=False)
    nan_count = value_count[np.nan]
    print("[ %3d ] %s NaN count %s" % (index,name,nan_count))
    value_count.sort_index().plot(kind='bar', figsize=(15,5))
    plt.show()

# Train, Test data split

In [192]:
train_df, test_df = train_test_split(one_hot_df, test_size=0.33)
print(train_df.shape)
print(test_df.shape)

(4090, 92)
(2015, 92)

# Model

In [213]:
def runDTR(x_name_list, y_name, train_df, test_df, max_depth=None) :
    
    stime = time.time()

    x_train_df = train_df[x_name_list]
    y_train_df = train_df[y_name]
    
    x_test_df = test_df[x_name_list]
    y_test_df = test_df[y_name]

    model = DecisionTreeClassifier(
          criterion = 'gini'
        , max_depth=max_depth
    ).fit(x_train_df,y_train_df)
    
    pdf_name = "./pdf_decision_tree_classifier_gini/target-%s_feature_count-%s_max_depth-%s" % (y_name,x_name_list.__len__(),max_depth)

    dot_data = tree.export_graphviz(model,
                                    out_file=None, 
                                    feature_names=x_name_list, 
                                    # class_names=['정상', '고혈압전단계', '고혈압']
                                    class_names=['1','2','3']
                                   )

    graph = graphviz.Source(dot_data) 
    graph.render(pdf_name)
    #graph.render("%s+%s" % (x_name,y_name))

    modelPrediction = model.predict(x_test_df)
    accuracyRate = accuracy_score(
        y_true=y_test_df
    ,   y_pred=modelPrediction
    )

    etime = time.time()
    
    print(pdf_name,', 정확도(%s) 소요시간(%s)' % (accuracyRate,etime-stime))
    
    return accuracyRate

In [214]:
Y = one_hot_df.HE_HP.name
X = one_hot_df.columns.drop(Y).tolist()


for depth in range(one_hot_df.columns.size, 5, -1) :
    accuracy_rate = runDTR(X, Y, train_df, test_df, depth)

./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-92 , 정확도(0.48833746898263025) 소요시간(3.776829719543457)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-91 , 정확도(0.47642679900744417) 소요시간(3.8246335983276367)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-90 , 정확도(0.4704714640198511) 소요시간(3.8592605590820312)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-89 , 정확도(0.4813895781637717) 소요시간(3.836243152618408)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-88 , 정확도(0.4813895781637717) 소요시간(3.9082205295562744)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-87 , 정확도(0.4694789081885856) 소요시간(3.9075281620025635)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-86 , 정확도(0.47444168734491315) 소요시간(3.7630441188812256)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-85 , 정확도(0.4749379652605459) 소요시간(3.949632406234741)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-84 , 정확도(0.47642679900744417) 소요시간(3.7339510917663574)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-83 , 정확도(0.4794044665012407) 소요시간(3.8853087425231934)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-82 , 정확도(0.48635235732009924) 소요시간(3.834818124771118)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-81 , 정확도(0.4843672456575682) 소요시간(3.728853702545166)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-80 , 정확도(0.484863523573201) 소요시간(3.8147082328796387)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-79 , 정확도(0.48287841191067) 소요시간(3.7129123210906982)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-78 , 정확도(0.49032258064516127) 소요시간(3.7508692741394043)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-77 , 정확도(0.4833746898263027) 소요시간(4.032759189605713)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-76 , 정확도(0.4878411910669975) 소요시간(3.7000575065612793)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-75 , 정확도(0.4823821339950372) 소요시간(3.9171953201293945)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-74 , 정확도(0.4794044665012407) 소요시간(3.894923448562622)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-73 , 정확도(0.4858560794044665) 소요시간(3.879725933074951)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-72 , 정확도(0.4838709677419355) 소요시간(3.807847738265991)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-71 , 정확도(0.4833746898263027) 소요시간(3.7756853103637695)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-70 , 정확도(0.4759305210918114) 소요시간(3.7450766563415527)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-69 , 정확도(0.4784119106699752) 소요시간(3.9509570598602295)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-68 , 정확도(0.4803970223325062) 소요시간(3.7513606548309326)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-67 , 정확도(0.47692307692307695) 소요시간(3.835444211959839)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-66 , 정확도(0.4833746898263027) 소요시간(3.7579894065856934)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-65 , 정확도(0.4803970223325062) 소요시간(3.83571195602417)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-64 , 정확도(0.480893300248139) 소요시간(3.85200572013855)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-63 , 정확도(0.4833746898263027) 소요시간(3.8730523586273193)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-62 , 정확도(0.4813895781637717) 소요시간(3.7161476612091064)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-61 , 정확도(0.48287841191067) 소요시간(3.7911813259124756)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-60 , 정확도(0.47245657568238214) 소요시간(3.861020565032959)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-59 , 정확도(0.4784119106699752) 소요시간(3.8911070823669434)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-58 , 정확도(0.47692307692307695) 소요시간(3.8076510429382324)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-57 , 정확도(0.47196029776674936) 소요시간(3.7738614082336426)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-56 , 정확도(0.484863523573201) 소요시간(3.8028504848480225)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-55 , 정확도(0.46898263027295284) 소요시간(3.87263822555542)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-54 , 정확도(0.47890818858560796) 소요시간(3.7530951499938965)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-53 , 정확도(0.47890818858560796) 소요시간(3.8175082206726074)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-52 , 정확도(0.49330024813895784) 소요시간(3.778712749481201)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-51 , 정확도(0.4833746898263027) 소요시간(3.8250749111175537)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-50 , 정확도(0.4833746898263027) 소요시간(3.7996902465820312)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-49 , 정확도(0.480893300248139) 소요시간(3.85365629196167)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-48 , 정확도(0.49081885856079405) 소요시간(3.808955430984497)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-47 , 정확도(0.47295285359801487) 소요시간(3.975811243057251)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-46 , 정확도(0.4823821339950372) 소요시간(3.757523536682129)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-45 , 정확도(0.480893300248139) 소요시간(3.8805887699127197)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-44 , 정확도(0.48535980148883373) 소요시간(3.9002273082733154)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-43 , 정확도(0.48734491315136474) 소요시간(3.8831796646118164)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-42 , 정확도(0.4759305210918114) 소요시간(3.9285459518432617)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-41 , 정확도(0.4794044665012407) 소요시간(4.0487306118011475)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-40 , 정확도(0.4803970223325062) 소요시간(3.9185194969177246)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-39 , 정확도(0.47245657568238214) 소요시간(3.7822861671447754)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-38 , 정확도(0.4838709677419355) 소요시간(3.802502393722534)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-37 , 정확도(0.4739454094292804) 소요시간(3.9392659664154053)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-36 , 정확도(0.48287841191067) 소요시간(3.816368341445923)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-35 , 정확도(0.4823821339950372) 소요시간(3.7399184703826904)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-34 , 정확도(0.486848635235732) 소요시간(3.963052749633789)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-33 , 정확도(0.4794044665012407) 소요시간(3.723752498626709)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-32 , 정확도(0.48883374689826303) 소요시간(3.8186371326446533)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-31 , 정확도(0.47791563275434246) 소요시간(3.886336088180542)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-30 , 정확도(0.47692307692307695) 소요시간(3.8812196254730225)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-29 , 정확도(0.4833746898263027) 소요시간(3.9031589031219482)

./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-28 , 정확도(0.484863523573201) 소요시간(3.8947103023529053)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-27 , 정확도(0.4759305210918114) 소요시간(3.774986743927002)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-26 , 정확도(0.4759305210918114) 소요시간(3.7977991104125977)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-25 , 정확도(0.4818858560794045) 소요시간(3.7745211124420166)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-24 , 정확도(0.4818858560794045) 소요시간(3.631406784057617)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-23 , 정확도(0.48833746898263025) 소요시간(3.679703950881958)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-22 , 정확도(0.4858560794044665) 소요시간(3.7487151622772217)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-21 , 정확도(0.4818858560794045) 소요시간(3.6384692192077637)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-20 , 정확도(0.4823821339950372) 소요시간(3.4608118534088135)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-19 , 정확도(0.48833746898263025) 소요시간(3.2965760231018066)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-18 , 정확도(0.48535980148883373) 소요시간(3.2061965465545654)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-17 , 정확도(0.4843672456575682) 소요시간(2.8209455013275146)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-16 , 정확도(0.48635235732009924) 소요시간(2.641464948654175)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-15 , 정확도(0.5057071960297767) 소요시간(2.213205575942993)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-14 , 정확도(0.49330024813895784) 소요시간(1.9183590412139893)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-13 , 정확도(0.5057071960297767) 소요시간(1.5606069564819336)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-12 , 정확도(0.5076923076923077) 소요시간(1.1768558025360107)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-11 , 정확도(0.5136476426799007) 소요시간(0.9183506965637207)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-10 , 정확도(0.5240694789081886) 소요시간(0.7141604423522949)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-9 , 정확도(0.5315136476426799) 소요시간(0.5328772068023682)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-8 , 정확도(0.5364764267990074) 소요시간(0.4056990146636963)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-7 , 정확도(0.5389578163771712) 소요시간(0.3258018493652344)
./pdf_decision_tree_classifier_gini/target-HE_HP_feature_count-91_max_depth-6 , 정확도(0.5439205955334988) 소요시간(0.268139123916626)