# Load data
 - HN16_ALL.sas7bdat : 설문지 데이터

In [40]:
import pandas as pd

# 식품 섭취 데이터는 사용하지 않는 것으로 결정(2018-11-15)
df_ALL = pd.read_sas("./HN16_ALL.sas7bdat", format = 'sas7bdat', encoding='iso-8859-1')

# 만 19~79세 제한
df_data = df_ALL.loc[(18 < df_ALL.age), :]
df_data = df_data.loc[(80 > df_data.age), :]

# 혈압치료중인 대상 제외
df_data = df_data.loc[(1 < df_data.DI1_pt) | (df_data.DI1_pt < 1), :]

# 모든 값이 NaN값이 컬럼 삭제
df_data = df_data.dropna(axis=1, how='all')

# 고혈압 유병여부 NaN값 대상 삭제
df_data = df_data.dropna(subset=['HE_HP'])

# 평균동맥압 파생변수 추가
df_data["HE_MAP"] = df_data["HE_dbp"] + (df_data["HE_sbp"] - df_data["HE_dbp"]) / 3
df_data.shape

(4585, 715)

In [41]:
# 남자만으로 dataframe 구성
df_data_sex_1 = df_data.loc[(1 == df_data.sex), :]
df_data_sex_1.shape

# 여자만으로 dataframe 구성
# df_data_sex_2 = df_data.loc[(2 == df_data.sex), :]
# df_data_sex_2.shape

# df 이름 변경
df_data = df_data_sex_1
df_data.shape

(1945, 715)

# 라이브러리

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib notebook
#import seaborn as sns

from sklearn.impute import SimpleImputer
#from sklearn.preprocessing import Imputer
# from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
# from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
# from sklearn.metrics import classification_report
from sklearn import tree
from sklearn.model_selection import train_test_split

import graphviz
import time

In [43]:
df_data.head()

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,LF_secur_y,LF_BUYER,LF_SAFE,HE_MAP
3,2018.02.01.,A651183002,A6511830,2016.0,1.0,1.0,2.0,A651,1.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.666667
8,2018.02.01.,A651205101,A6512051,2016.0,1.0,1.0,2.0,A651,1.0,38.0,...,2051.326118,296.028559,5.408978,2.145862,60.347972,43.239040,1.0,1.0,3.0,91.666667
14,2018.02.01.,A651249301,A6512493,2016.0,1.0,1.0,2.0,A651,1.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.666667
18,2018.02.01.,A651268001,A6512680,2016.0,1.0,1.0,2.0,A651,1.0,49.0,...,2401.220159,192.145060,2.160682,1.736965,14.356613,25.878406,1.0,1.0,2.0,104.666667
22,2018.02.01.,A651281601,A6512816,2016.0,1.0,1.0,2.0,A651,1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000

# 데이터 전처리

In [44]:
df_data_cut = pd.DataFrame(df_data, columns=[
    df_data.HE_MAP.name ,
#     df_data.region.name ,
#     df_data.sex.name ,
#     df_data.age.name ,
    df_data.incm.name ,
    df_data.ho_incm.name ,
    df_data.edu.name ,
    df_data.occp.name ,
    df_data.cfam.name ,
    df_data.allownc.name ,
    df_data.house.name ,
    df_data.live_t.name ,
    df_data.ainc_1.name ,
    df_data.ainc.name ,
    df_data.marri_1.name ,
    df_data.marri_2.name ,
    df_data.tins.name ,
    df_data.npins.name ,
    df_data.D_1_1.name ,
    df_data.D_2_1.name ,
    df_data.D_2_wk.name ,
#     df_data.DI1_dg.name ,
#     df_data.DI1_pr.name ,
#     df_data.DI1_pt.name ,
#     df_data.DI1_2.name ,
    df_data.DI2_dg.name ,
    df_data.DI2_pr.name ,
    df_data.DI3_dg.name ,
    df_data.DI3_pr.name ,
    df_data.DI4_dg.name ,
    df_data.DI4_pr.name ,
    df_data.DI5_dg.name ,
    df_data.DI5_pr.name ,
    df_data.DI6_dg.name ,
    df_data.DI6_pr.name ,
    df_data.DM1_dg.name ,
    df_data.DM1_pr.name ,
    df_data.DM2_dg.name ,
    df_data.DM2_pr.name ,
    df_data.DM3_dg.name ,
    df_data.DM3_pr.name ,
    df_data.DM4_dg.name ,
    df_data.DM4_pr.name ,
    df_data.DJ2_dg.name ,
    df_data.DJ2_pr.name ,
    df_data.DJ4_dg.name ,
    df_data.DJ4_pr.name ,
    df_data.DE1_dg.name ,
    df_data.DE1_pr.name ,
    df_data.DE2_dg.name ,
    df_data.DE2_pr.name ,
    df_data.DC1_dg.name ,
    df_data.DC1_pr.name ,
    df_data.DC2_dg.name ,
    df_data.DC2_pr.name ,
    df_data.DC3_dg.name ,
    df_data.DC3_pr.name ,
    df_data.DC4_dg.name ,
    df_data.DC4_pr.name ,
    df_data.DC5_dg.name ,
    df_data.DC5_pr.name ,
    df_data.DC6_dg.name ,
    df_data.DC6_pr.name ,
    df_data.DC7_dg.name ,
    df_data.DC7_pr.name ,
    df_data.DC11_dg.name ,
    df_data.DC11_pr.name ,
    df_data.DF2_dg.name ,
    df_data.DF2_pr.name ,
    df_data.DL1_dg.name ,
    df_data.DL1_pr.name ,
    df_data.DJ8_dg.name ,
    df_data.DJ8_pr.name ,
    df_data.DJ6_dg.name ,
    df_data.DJ6_pr.name ,
    df_data.DH4_dg.name ,
    df_data.DH4_pr.name ,
    df_data.DH2_dg.name ,
    df_data.DH2_pr.name ,
    df_data.DH3_dg.name ,
    df_data.DH3_pr.name ,
    df_data.DH6_dg.name ,
    df_data.DH6_pr.name ,
    df_data.DN1_dg.name ,
    df_data.DN1_pr.name ,
    df_data.DK8_dg.name ,
    df_data.DK8_pr.name ,
    df_data.DK9_dg.name ,
    df_data.DK9_pr.name ,
    df_data.DK4_dg.name ,
    df_data.DK4_pr.name ,
    df_data.BH9_11.name ,
    df_data.BH1.name ,
    df_data.BH1_1.name ,
    df_data.BH1_2.name ,
    df_data.BH1_3.name ,
    df_data.BH1_8.name ,
    df_data.BH1_6.name ,
    df_data.BH2_61.name ,
    df_data.BH2_62.name ,
    df_data.BH2_63.name ,
    df_data.BH2_66.name ,
    df_data.BH2_67.name ,
    df_data.BH2_64.name ,
    df_data.educ.name ,
    df_data.graduat.name ,
    df_data.EC1_1.name ,
    df_data.EC1_2.name ,
    df_data.EC_occp.name ,
    df_data.EC_stt_1.name ,
    df_data.EC_stt_2.name ,
    df_data.EC_wh.name ,
    df_data.EC_wht_0.name ,
    df_data.EC_wht_23.name ,
    df_data.EC_wht_5.name ,
    df_data.EC_lgw_2.name ,
    df_data.EC_lgw_4.name ,
    df_data.EC_lgw_5.name ,
    df_data.EC_pedu_1.name ,
    df_data.EC_pedu_2.name
])
total_column_count = df_data_cut.columns.size
print(total_column_count)
print(df_data_cut.shape)
df_data_cut.head()

113
(1945, 113)

,HE_MAP,incm,ho_incm,edu,occp,cfam,allownc,house,live_t,ainc_1,...,EC_stt_2,EC_wh,EC_wht_0,EC_wht_23,EC_wht_5,EC_lgw_2,EC_lgw_4,EC_lgw_5,EC_pedu_1,EC_pedu_2
3,111.666667,3.0,3.0,4.0,3.0,5.0,20.0,3.0,2.0,600.0,...,1.0,1.0,1.0,61.0,1.0,5.0,1.0,1.0,8.0,5.0
8,91.666667,1.0,2.0,4.0,1.0,4.0,20.0,1.0,2.0,300.0,...,1.0,1.0,1.0,56.0,1.0,2.0,1.0,1.0,7.0,5.0
14,91.666667,3.0,4.0,4.0,1.0,3.0,20.0,3.0,2.0,7000.0,...,8.0,8.0,8.0,40.0,1.0,2.0,2.0,8.0,7.0,5.0
18,104.666667,4.0,4.0,4.0,2.0,4.0,20.0,3.0,2.0,750.0,...,1.0,1.0,1.0,40.0,1.0,3.0,1.0,1.0,5.0,4.0
22,100.000000,3.0,4.0,4.0,3.0,3.0,20.0,1.0,2.0,550.0,...,8.0,8.0,8.0,45.0,1.0,5.0,2.0,8.0,8.0,7.0

## 특정 value 값을 NaN 처리

In [45]:
def setNanValues(in_df, name, nan_values) :
    
    start_na_count = in_df[name].isna().sum()
    
    uniq_values = sorted(map(float,in_df[name].dropna().unique()))
    
    in_df[name] = in_df[name].map(lambda x: np.nan if x in nan_values else x)
        
    #print(sorted(map(float,in_df[name].dropna().unique())))
        
    end_na_count = in_df[name].isna().sum()
    
    print("%s NaN count %s -> %s" % (name,start_na_count,end_na_count))
    
    return in_df

nan_df_data = df_data_cut.copy(deep=True)
nan_df_data = setNanValues(nan_df_data, nan_df_data.marri_1.name, [9.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.marri_2.name, [88.0, 99.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.EC_pedu_1.name, [88.0, 99.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.EC_pedu_2.name, [88.0, 99.0])
# 'DI4_dg', 'DI4_pr', 'DM1_dg', 'DM1_pr'
nan_df_data = setNanValues(nan_df_data, nan_df_data.DI4_dg.name, [8.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.DI4_pr.name, [8.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.DM1_dg.name, [8.0])
nan_df_data = setNanValues(nan_df_data, nan_df_data.DM1_pr.name, [8.0])
print(nan_df_data.shape)
nan_df_data.columns

marri_1 NaN count 0 -> 0
marri_2 NaN count 0 -> 478
EC_pedu_1 NaN count 0 -> 278
EC_pedu_2 NaN count 0 -> 251
DI4_dg NaN count 107 -> 107
DI4_pr NaN count 107 -> 1907
DM1_dg NaN count 107 -> 107
DM1_pr NaN count 107 -> 1878
(1945, 113)

Index(['HE_MAP', 'incm', 'ho_incm', 'edu', 'occp', 'cfam', 'allownc', 'house',
       'live_t', 'ainc_1',
       ...
       'EC_stt_2', 'EC_wh', 'EC_wht_0', 'EC_wht_23', 'EC_wht_5', 'EC_lgw_2',
       'EC_lgw_4', 'EC_lgw_5', 'EC_pedu_1', 'EC_pedu_2'],
      dtype='object', length=113)

## NaN 값 처리

In [46]:
'''
strategy = mean, median, most_frequent, constant
'''
def setNanImputer(in_df, name, strategy="mean") :
    
    tmp_df = pd.DataFrame(in_df[name], columns=[name])
    
    imp = SimpleImputer(missing_values=np.nan, strategy=strategy)
    in_df[name] = imp.fit_transform(tmp_df)
        
    print('%s null count %s, na count %s' % (name, in_df[name].isnull().sum(), in_df[name].isna().sum()))
    
    return in_df


imp_df = nan_df_data.copy(deep=True)

imputer_infos = [
      ['ainc', 'mean']
]

for name, strategy in imputer_infos :
    imp_df = setNanImputer(imp_df, name, strategy=strategy)

ainc null count 0, na count 0

## One-Hot Encoding

In [47]:
def addOneHotEncodingColumns(in_df, name) :
    
    uniq_values = sorted(map(float,in_df[name].dropna().unique()))
    
    dummie = pd.get_dummies(in_df[name], dummy_na=True)
    dummie.columns=['%s_ONE_%s' % (name,str(n)) for n in uniq_values] + ['%s_ONE_NaN' % name]
    
    one_hot_df = pd.concat([in_df,dummie],axis=1)    
    one_hot_df.drop(columns=[name], inplace=True)
    
    return one_hot_df

one_hot_df = imp_df.copy(deep=True)
print(one_hot_df.shape)
# one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.region.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.incm.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.ho_incm.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.edu.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.occp.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.EC_pedu_1.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.EC_pedu_2.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.marri_1.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.marri_2.name)
# 'DI4_dg', 'DI4_pr', 'DM1_dg', 'DM1_pr'
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.DI4_dg.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.DI4_pr.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.DM1_dg.name)
one_hot_df = addOneHotEncodingColumns(one_hot_df, nan_df_data.DM1_pr.name)
print(one_hot_df.shape)
print(one_hot_df.columns)
one_hot_df.tail()

(1945, 113)
(1945, 163)
Index(['HE_MAP', 'cfam', 'allownc', 'house', 'live_t', 'ainc_1', 'ainc',
       'tins', 'npins', 'D_1_1',
       ...
       'DI4_dg_ONE_NaN', 'DI4_pr_ONE_0.0', 'DI4_pr_ONE_1.0', 'DI4_pr_ONE_NaN',
       'DM1_dg_ONE_0.0', 'DM1_dg_ONE_1.0', 'DM1_dg_ONE_NaN', 'DM1_pr_ONE_0.0',
       'DM1_pr_ONE_1.0', 'DM1_pr_ONE_NaN'],
      dtype='object', length=163)

,HE_MAP,cfam,allownc,house,live_t,ainc_1,ainc,tins,npins,D_1_1,...,DI4_dg_ONE_NaN,DI4_pr_ONE_0.0,DI4_pr_ONE_1.0,DI4_pr_ONE_NaN,DM1_dg_ONE_0.0,DM1_dg_ONE_1.0,DM1_dg_ONE_NaN,DM1_pr_ONE_0.0,DM1_pr_ONE_1.0,DM1_pr_ONE_NaN
8126,89.000000,4.0,20.0,2.0,2.0,8000.0,666.666667,20.0,1.0,2.0,...,0,0,0,1,1,0,0,0,0,1
8131,88.000000,3.0,20.0,2.0,2.0,6940.0,578.333333,20.0,1.0,2.0,...,0,0,0,1,1,0,0,0,0,1
8134,94.666667,4.0,20.0,3.0,2.0,8000.0,666.666667,20.0,1.0,3.0,...,0,0,0,1,1,0,0,0,0,1
8138,83.666667,4.0,10.0,3.0,2.0,7000.0,583.333333,20.0,1.0,2.0,...,0,0,0,1,1,0,0,0,0,1
8142,96.000000,3.0,20.0,2.0,2.0,6000.0,500.000000,10.0,1.0,1.0,...,0,0,0,1,1,0,0,0,0,1

In [27]:
# one_hot_df[one_hot_df.sex.name] = one_hot_df[one_hot_df.sex.name].astype(int)

## 결측치가 하나 이상 있는 컬럼 확인

In [48]:
nan_names = one_hot_df.columns[one_hot_df.isna().any()]
nan_names

Index([], dtype='object')

In [49]:
for index, name in enumerate(nan_names) :
    value_count = pd.value_counts(one_hot_df[name], dropna=False)
    nan_count = value_count[np.nan]
    print("[ %3d ] %s NaN count %s" % (index,name,nan_count))
    value_count.sort_index().plot(kind='bar', figsize=(15,5))
    plt.show()

# Train, Test data split

In [50]:
train_df, test_df = train_test_split(one_hot_df, test_size=0.25)
print(train_df.shape)
print(test_df.shape)

Y = one_hot_df.HE_MAP.name
X = one_hot_df.columns.drop(Y).tolist()

(1458, 163)
(487, 163)

# Decision Tree Regressor

In [51]:
def runDTR(x_name_list, y_name, train_df, test_df, max_depth=None) :
    
    stime = time.time()

    x_train_df = train_df[x_name_list]
    y_train_df = train_df[y_name]
    
    x_test_df = test_df[x_name_list]
    y_test_df = test_df[y_name]

    model = DecisionTreeRegressor(
          criterion = 'mse'
        , max_depth=max_depth
    ).fit(x_train_df,y_train_df)
    
    pdf_name = "./pdf_decision_tree_regressor_mse/target-%s_feature_count-%s_max_depth-%s" % (y_name,x_name_list.__len__(),max_depth)

    dot_data = tree.export_graphviz(model,
                                    out_file=None, 
                                    feature_names=x_name_list, 
                                    class_names=[y_name]
                                   )

    graph = graphviz.Source(dot_data) 
    graph.render(pdf_name)
    #graph.render("%s+%s" % (x_name,y_name))

    modelPrediction = model.predict(x_train_df)
    mse = mean_squared_error(y_train_df, modelPrediction)
#    mse_list.append([x_name, y_name, mse])
#     accuracyRate = accuracy_score(
#         y_true=y_test_df
#     ,   y_pred=modelPrediction
#     )

    etime = time.time()
    
    print(pdf_name,', 손실함수(%s) 소요시간(%s)' % (mse,etime-stime))
    
    return mse

In [52]:
'''
maxdepth가 높으면 처리 속도가 늦음
maxdepth가 낮으면 처리 속도가 빠름
'''
for depth in range(one_hot_df.columns.size, 5, -1) :
    mse = runDTR(X, Y, train_df, test_df, depth)

./pdf_decision_tree_regressor_mse/target-HE_MAP_feature_count-162_max_depth-163 , 손실함수(0.1602270995275112) 소요시간(4.42219090461731)
./pdf_decision_tree_regressor_mse/target-HE_MAP_feature_count-162_max_depth-162 , 손실함수(0.1602270995275112) 소요시간(4.033601999282837)
./pdf_decision_tree_regressor_mse/target-HE_MAP_feature_count-162_max_depth-161 , 손실함수(0.1602270995275112) 소요시간(4.342919111251831)
./pdf_decision_tree_regressor_mse/target-HE_MAP_feature_count-162_max_depth-160 , 손실함수(0.1602270995275112) 소요시간(5.0185229778289795)
./pdf_decision_tree_regressor_mse/target-HE_MAP_feature_count-162_max_depth-159 , 손실함수(0.1602270995275112) 소요시간(3.996702194213867)
./pdf_decision_tree_regressor_mse/target-HE_MAP_feature_count-162_max_depth-158 , 손실함수(0.1602270995275112) 소요시간(4.165160179138184)

KeyboardInterrupt:

# Random Forest Regressor

In [53]:
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(
      n_estimators=100
    , max_depth=20
    , random_state=0
)
clf.fit(train_df[X], train_df[Y])

for imp in zip(X,clf.feature_importances_) :
    print(imp)
print(clf.predict(test_df[X]))

('cfam', 0.03352658688843998)
('allownc', 0.0022185369888651813)
('house', 0.021976338010454496)
('live_t', 0.025702751113839847)
('ainc_1', 0.09050717911680142)
('ainc', 0.08134249868219913)
('tins', 0.015084318032415658)
('npins', 0.007558782933139906)
('D_1_1', 0.02620468628026756)
('D_2_1', 0.0031429198328782044)
('D_2_wk', 0.012371747751846955)
('DI2_dg', 0.0036596361154557274)
('DI2_pr', 0.008745543886213234)
('DI3_dg', 0.00036012605671314666)
('DI3_pr', 0.0002897157729278486)
('DI5_dg', 0.000984475780938376)
('DI5_pr', 0.0027511898469428043)
('DI6_dg', 0.000380018639870272)
('DI6_pr', 0.004601458634245461)
('DM2_dg', 0.0016984415535572406)
('DM2_pr', 0.0010782315905815056)
('DM3_dg', 0.0003574132974404798)
('DM3_pr', 0.0005209128234162208)
('DM4_dg', 0.0005498249984844186)
('DM4_pr', 0.000653217328392885)
('DJ2_dg', 0.0025365298607271814)
('DJ2_pr', 0.002217210790909247)
('DJ4_dg', 0.0011188565417650344)
('DJ4_pr', 0.002112886103264233)
('DE1_dg', 0.00334067210710964)
('DE1_pr', 0.0035981154457825574)
('DE2_dg', 0.0031879329950721762)
('DE2_pr', 0.005687943546187488)
('DC1_dg', 0.0007276734449096649)
('DC1_pr', 0.0020516120716861297)
('DC2_dg', 4.939812425794954e-05)
('DC2_pr', 6.503792662268977e-05)
('DC3_dg', 8.173717376718233e-05)
('DC3_pr', 9.235054958778679e-05)
('DC4_dg', 3.6946271778582815e-05)
('DC4_pr', 8.767340244340737e-06)
('DC5_dg', 4.188925836787772e-05)
('DC5_pr', 1.0520486559373559e-05)
('DC6_dg', 1.1592433476538193e-05)
('DC6_pr', 2.8589873677103652e-05)
('DC7_dg', 0.0009405758043201551)
('DC7_pr', 0.0008435272455687867)
('DC11_dg', 0.0012892373939815168)
('DC11_pr', 0.0022202069115882053)
('DF2_dg', 0.0015973298824831566)
('DF2_pr', 0.002426889277005705)
('DL1_dg', 0.0019059432469219909)
('DL1_pr', 0.002035717842663688)
('DJ8_dg', 0.004900994781880846)
('DJ8_pr', 0.008175404880461009)
('DJ6_dg', 0.004318154560964465)
('DJ6_pr', 0.006503824021471245)
('DH4_dg', 0.0018178379458960018)
('DH4_pr', 0.0017587411331823804)
('DH2_dg', 0.0038864936224707754)
('DH2_pr', 0.007059829777828351)
('DH3_dg', 0.0014696698200916175)
('DH3_pr', 0.0013728771395177728)
('DH6_dg', 0.0006996751932631765)
('DH6_pr', 0.001497885377089352)
('DN1_dg', 0.001235047290254355)
('DN1_pr', 0.0019726463384791815)
('DK8_dg', 0.0010590330633101536)
('DK8_pr', 0.004798098961723873)
('DK9_dg', 6.686420304866477e-05)
('DK9_pr', 4.770292666580935e-05)
('DK4_dg', 5.3728561705322024e-05)
('DK4_pr', 8.315840020985201e-06)
('BH9_11', 0.010862046741242592)
('BH1', 0.0014786033979232904)
('BH1_1', 0.0048839319514341305)
('BH1_2', 0.0027841242111859804)
('BH1_3', 0.007161282520098296)
('BH1_8', 0.0037570365609946167)
('BH1_6', 0.0057556146530974685)
('BH2_61', 0.0017229305195266313)
('BH2_62', 0.006971124120793168)
('BH2_63', 0.00952980295454952)
('BH2_66', 0.008775758353580581)
('BH2_67', 0.0017695892526918486)
('BH2_64', 0.004623745042940308)
('educ', 0.022383903010901235)
('graduat', 0.017725162841304657)
('EC1_1', 0.001067402209065376)
('EC1_2', 0.013937221117621433)
('EC_occp', 0.02414215833457265)
('EC_stt_1', 0.003871998533788513)
('EC_stt_2', 0.005674987148092863)
('EC_wh', 0.0051232703235748415)
('EC_wht_0', 0.008681412526324752)
('EC_wht_23', 0.06712144596198404)
('EC_wht_5', 0.014353180436976951)
('EC_lgw_2', 0.03772001409685079)
('EC_lgw_4', 0.007841337583961373)
('EC_lgw_5', 0.012204532458552526)
('incm_ONE_1.0', 0.007784729180883149)
('incm_ONE_2.0', 0.007964814999952864)
('incm_ONE_3.0', 0.011487865640058749)
('incm_ONE_4.0', 0.006800771326592295)
('incm_ONE_NaN', 8.506848790222033e-05)
('ho_incm_ONE_1.0', 0.002231838380201573)
('ho_incm_ONE_2.0', 0.005715639398086797)
('ho_incm_ONE_3.0', 0.00854141956149966)
('ho_incm_ONE_4.0', 0.004092764926226745)
('ho_incm_ONE_NaN', 0.00011677167538452093)
('edu_ONE_1.0', 0.0032041477242217738)
('edu_ONE_2.0', 0.007680562824576051)
('edu_ONE_3.0', 0.007412297348140983)
('edu_ONE_4.0', 0.004591552007959831)
('edu_ONE_NaN', 1.8267641231493125e-05)
('occp_ONE_1.0', 0.0036101490865232556)
('occp_ONE_2.0', 0.004746523595493408)
('occp_ONE_3.0', 0.005400545775927108)
('occp_ONE_4.0', 0.004628910336107092)
('occp_ONE_5.0', 0.006356790667111594)
('occp_ONE_6.0', 0.004605909336067392)
('occp_ONE_7.0', 0.001010513139922675)
('occp_ONE_NaN', 9.009734285191734e-05)
('EC_pedu_1_ONE_1.0', 0.004586607279197406)
('EC_pedu_1_ONE_2.0', 0.0029355283812828197)
('EC_pedu_1_ONE_3.0', 0.01009829119620822)
('EC_pedu_1_ONE_4.0', 0.007273475763474524)
('EC_pedu_1_ONE_5.0', 0.0069456339176103546)
('EC_pedu_1_ONE_6.0', 0.003134551276867063)
('EC_pedu_1_ONE_7.0', 0.007120250149124149)
('EC_pedu_1_ONE_8.0', 0.0024241420514641123)
('EC_pedu_1_ONE_NaN', 0.008918561181894026)
('EC_pedu_2_ONE_1.0', 0.004932179465939551)
('EC_pedu_2_ONE_2.0', 0.0015663167551500546)
('EC_pedu_2_ONE_3.0', 0.008440128512154194)
('EC_pedu_2_ONE_4.0', 0.00922353815345118)
('EC_pedu_2_ONE_5.0', 0.011017124648851857)
('EC_pedu_2_ONE_6.0', 0.00086836155446084)
('EC_pedu_2_ONE_7.0', 0.003285520405989466)
('EC_pedu_2_ONE_8.0', 0.0010271736799184529)
('EC_pedu_2_ONE_NaN', 0.004073158099344351)
('marri_1_ONE_1.0', 0.0030359527183489846)
('marri_1_ONE_2.0', 0.0032087822095592687)
('marri_1_ONE_NaN', 0.0)
('marri_2_ONE_1.0', 0.0042980915725268146)
('marri_2_ONE_2.0', 0.0005018592799680685)
('marri_2_ONE_3.0', 0.0004492105587126069)
('marri_2_ONE_4.0', 0.008693577456542196)
('marri_2_ONE_9.0', 1.9982260947116087e-06)
('marri_2_ONE_NaN', 0.002845714505215729)
('DI4_dg_ONE_0.0', 0.0003993558443614984)
('DI4_dg_ONE_1.0', 0.0013572551351332814)
('DI4_dg_ONE_NaN', 4.339307437032088e-05)
('DI4_pr_ONE_0.0', 0.0038758514363194303)
('DI4_pr_ONE_1.0', 0.0082067967236004)
('DI4_pr_ONE_NaN', 0.0012825019289138154)
('DM1_dg_ONE_0.0', 0.0011699088687809887)
('DM1_dg_ONE_1.0', 0.0008503602239218436)
('DM1_dg_ONE_NaN', 6.4199790203612435e-06)
('DM1_pr_ONE_0.0', 9.112789521956335e-05)
('DM1_pr_ONE_1.0', 0.0013329287809559411)
('DM1_pr_ONE_NaN', 0.001141736497558677)
[ 87.73598864  95.79495399  94.46186329  91.16630703  94.86239708
  94.86724989  94.84262189  92.27931641  93.15592141  94.06342343
  91.14495912  92.5517323   84.05666667  93.85904603  95.42515219
  96.56810198  96.74464919  88.78206228  91.01908752  92.15090437
  91.96491284  94.60468474  92.22555856  89.86082105  92.83626834
  91.69313258  90.69439271  92.20300362  92.5432238   96.18708082
  94.86962432  92.78160547  91.63823049  94.02581322  93.7890643
  94.94408826  93.78202202  90.9099487   92.10506892  90.35877082
  91.91090134  91.34337559  91.7394393   96.66414955  88.35362979
  94.58861625  92.63284206  98.60666143  92.80918676  93.10451373
  91.86113783  93.44240405  91.7249106   90.4345463   94.03222897
  95.45230817  93.16153768  93.20443817  94.88534011  90.5837462
  94.95181973  85.45765605  96.7576946   92.85474006  97.8853358
  97.10838316  90.83284394  92.90764079  91.08069428  97.3140092
  91.5968084   91.60256535  82.57941667  89.9948866   92.1508909
  91.14225435 103.15959697  93.26122693  93.8792815   97.75639489
  93.93700583  90.32497697  89.38413784  91.73433757  96.00882849
  92.68131696  91.64240309  89.75040347  92.62583715  95.36560548
  90.84618971  92.8001545   93.44162643  93.63313731  97.34691754
  90.50068909  91.13828904  91.36458808  89.25332322  95.72244353
  91.30843392  95.15025018  92.11475172  90.76553645  95.4871193
  92.11088703  91.12550196  95.73578267  94.71129002  96.89201601
  96.4018077   94.67462905  92.20525992  90.23403781  93.35766689
  84.25398859  92.00891513  86.81341781  91.41703999 103.4119406
  91.40937373  91.87003827  95.20583996  93.64195919  92.99557378
  94.91066238  93.50541054  93.07166021  93.7904836   89.70964414
  89.65071929  92.23159795  87.21573611  90.51087319  91.47496287
  92.21411744  82.86962963  94.31574604  93.45828235  91.39670818
  96.19630347  94.50764963  92.04280231  98.3741794   92.72040926
  92.53124685  95.43379531  93.32011654  89.02368351  90.34502304
  89.37615625  90.69999404  93.31386151  92.71963777  91.40333864
  93.55387111  90.36137373  90.52025836  91.86131242  94.10944152
  93.67290117  94.61679441  94.19459536  91.71401126  94.73711093
  93.83614376  94.39711738  91.07055874  92.95974723  91.22302602
  90.73711331  92.68722975  92.28193442  91.58548833  94.28856532
  92.12003066  92.76802027  91.14627074  96.05857402  92.91739604
  87.8264846   93.43657839  92.3685639   89.79207114  91.12974247
  87.85292939  90.7333143   97.80296364  85.434591    95.18495607
  92.74348663  92.91706646  95.39831604  93.57655132  92.03379905
  95.62812023  92.03851932  84.62517003  96.6368585   88.55877136
  90.12440506  94.69612141  95.62988188  90.32270881  87.43180352
  83.06130696  91.80477956  91.09824814  92.68692644  91.26539204
  96.26210177  93.81794597  89.99206604  91.88394818  90.93500638
  93.16337805  93.56549268  92.4715614   90.16823717  87.87874933
  94.87246384  85.82888786  90.89535425  92.95212235  86.74416667
  94.01194685  90.62533665  91.89706195  91.21140804  91.84138545
  90.57788976  89.30491624  94.97365031  94.1027963   97.72444052
  97.91991283  93.74806973  92.2532955   90.38359984  93.00783187
  97.92891972  93.21788842  90.8866899   95.86973166  97.39598415
  90.48670248  94.44216934  92.28818299  96.16029028  91.48541174
  94.04801264  89.85524442  91.86852666  91.99125163  92.9807036
  90.86851643  93.34652516  92.41222375  92.83152377  91.31891032
  89.91198884  90.61830988  91.96237725  91.32950953  91.77102113
  94.24423766  90.55662961  92.11610071  92.95488687  89.86820837
  94.9046487   94.23700862  91.43737839  93.11322345  94.6298819
  94.66817064  95.40252228  91.2318707   91.90611517  93.8829517
  90.64687814  91.45214569  93.87529873  90.29549476  90.35066782
  95.45148772  93.55631733  94.50213172  89.98835499  99.61138193
  95.74320098  91.42566936  91.8028879   94.694315    93.43000723
  93.06029066  90.52608287  91.49339951  90.62905798  90.26692928
  95.83011222  87.31265823  90.58345136  89.2803739   90.32998582
  98.10964957  88.701       87.71897696  94.68380957  90.36713118
  90.06956632  89.3297619   91.83262109  93.5904459   92.22749208
  92.97090574  92.99544326  96.07326662  92.88161719  91.94423598
  98.93187122  89.21373323  87.98196547  95.45024421  94.49359516
  93.75118325  95.75651836  92.17225088  94.46058123  93.99078641
  92.63838902  91.9413995   87.887224    91.45674454  92.74538168
  93.76975282  94.90521167  96.52327144  90.56925125  91.3317901
  92.27586192  87.47937284  91.13380277  96.17262759  96.56745066
  94.42939955  91.54376681  93.9074579   91.10714936  88.39670577
  92.81540839  91.43695138  90.96153671 100.11021959  95.99156731
  92.05642083  93.43643404  94.27501912  88.3981625   96.18652285
  91.08261251  88.48555556  92.18505057  91.04534574  93.96443358
  92.8715059   93.42646798  90.54685008  93.67690799  91.67950949
  92.52814633  92.79396848  92.76892381  93.29776508  93.53115902
  95.97977575  90.42397525  95.74412357  95.62243292  89.75280313
  94.54273053  91.30225166  87.35384921  96.48271408  95.43036096
  87.98085015  94.37807039  91.94516065  92.27208706  89.71028869
 100.11021959  90.97196368  91.83691966  92.79804399  90.24251396
  92.74827221  92.63747318  87.23194308  92.01532254  93.90395369
  96.54450796  90.63855093  90.48805874  92.32187628  92.2171035
  92.32900709  96.36304361  93.87870728  91.6857549   92.65934844
  87.42225     90.64034647  87.25888889 101.38348798  90.55125671
  93.29567261  90.23206278  91.8504944   88.60861883  92.83327169
  95.24821013  85.52367251  88.48035672  92.41042159  90.50025708
  90.33189596  92.45079982  91.00706209  93.64663457  94.87151137
  89.23854678  91.1394861   87.06603536  98.3362576   95.97778809
  87.83029224  91.1010738   91.54582179  92.58991786  90.49171488
  96.47865095  89.41481925  87.61303607  93.03121828  94.08293469
  93.37812804  95.40044747  92.5037035   95.22945262  93.21921233
  95.88468184  87.6462821   92.49291769  92.34922266  91.12861701
  93.35405061  92.02297852  89.73713889  94.20563391  89.89963879
  93.54386195  91.21895331  94.04259481  87.62248332  93.30528514
  91.82288353  92.42248503  84.5094697   94.38884275  95.83548301
  91.7215729   93.6746385   92.71619205  92.41487396  91.04852824
  94.70316155  92.77181485  85.93692458  94.19605231  93.10545222
  86.35222222  90.87906803  91.84328986  96.11467309  95.95297091
  93.53477284  95.39359242]